jade/index.jade
extends ./template/layout.jade
block meta
  meta(name='description', content="解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。")
  meta(name='keywords', content="弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続")
  meta(property="og:title", content="土谷総合法律事務所")
  meta(property="og:description", content="解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalaw.net/")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title 土谷総合法律事務所
block body

  section
    #tsrv
      .tsrv_inner
        h2
          <img src="./assets/img/top/tsrv_ttl.gif" width="243" height="45" alt="取り扱い業務のご案内">
        ul
          li
            a(href="./service/debt.html" class="ophv")
              <img src="./assets/img/top/tsrv01.jpg" width="210" height="300" alt="借金問題">
          li
            a(href="./service/work.html" class="ophv")
              <img src="./assets/img/top/tsrv02.jpg" width="210" height="300" alt="労働問題">
          li
            a(href="./service/divorce.html" class="ophv")
              <img src="./assets/img/top/tsrv03.jpg" width="210" height="300" alt="離婚問題">
          li
            a(href="./service/corporate-law.html" class="ophv")
              <img src="./assets/img/top/tsrv04.jpg" width="210" height="300" alt="企業法務">
          li
            a(href="./service/general-law.html" class="ophv")
              <img src="./assets/img/top/tsrv05.jpg" width="210" height="300" alt="一般法律">
      <!-- .tsrv_inner -->
    <!-- tsrv -->
  !='\n'

  #top.wrap
    .inner
      aside
        #sidebar.left
          include ./template/sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #tmain.main.right
          #section01.section
            p この度は、土谷総合法律事務所のホームページをご覧いただきありがとうございます。
              br
              |当事務所へご連絡いただくお客様の中には、「法律に詳しくないから主張をどうやってまとめたらいいかわからない」と言われる方がいます。
              br
              |言わば私たち法律に詳しい専門家が、依頼者の主張をうまくまとめて事件を有利に進めるのが弁護士の仕事です。日本は幸いにも法治国家です。
              br
              |法律でつまずいたら、法律の番人へ、まずはお気軽にご相談くださいませ。
          <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl 土谷総合法律事務所の３つのお約束
              p.txt 当事務所では、ご依頼者様が安心してご利用いただけるサービスをご提供しております。
              ul
                li
                  h3 初回相談無料
                  .unit
                    p.txt02 ご依頼者様のお話しをじっくりお聞きするため、初回のご相談は無料です。時間をかけてゆっくり状況をご説明ください。
                    <img src="./assets/img/top/sec02_img01.jpg" width="210" height="105" alt="">
                li
                  h3 豊富な経験・実績
                  .unit
                    p.txt02 弁護士歴30年以上の経験と知識を活かし、ご依頼者様に最良・最善な解決方法をご提案いたします。安心してご依頼ください。
                    <img src="./assets/img/top/sec02_img02.jpg" width="210" height="105" alt="">
                li
                  h3 迅速・丁寧なサポート
                  .unit
                    p.txt02 様々な案件を解決してきた弁護士が迅速に対応いたします。ご依頼者様に分かりやすい説明を心掛けておりますのでお気軽にご相談ください。
                    <img src="./assets/img/top/sec02_img03.jpg" width="210" height="105" alt="">
            <!-- #section02 -->
          !='\n'

          section
            #section03.section
              h2.h2ttl 事務所からのお知らせ
                span.list
                  a(href="./info") 一覧はこちら &gt;
              dl
                dt 2016.09.28
                dd
                  a(href="./info") ホームページをリニューアルしました
            <!-- #section03 -->

            .ct_bnr
              a(href="./contact")
                <img src="./assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="土谷総合法律事務所">
    <meta property="og:description" content="解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalaw.net/">
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>土谷総合法律事務所</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="./assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="./assets/js/rollover/rollover.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.bxslider.min.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- スライダーの記述-->
    <script type="text/javascript">
      $(function(){
        var slide = $('#slider ul').bxSlider({
          slideWidth  : 1100, //一枚あたりの長さ
          slideMargin : 0,
          controls    : false,
          pager       : true,
          auto        : true,
          minSlides   : 3,
          maxSlides   : 3,
          moveSlides  : 1,
          speed       : 1000,
          pause       : 5000,
          onSlideAfter: function(){
            slide.startAuto();
          }
        });
      });
    </script>
  </head>

  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="./"><img src="./assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="./assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="./contact"><img src="./assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="./"><img src="./assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="./service"><img src="./assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="./lawyer"><img src="./assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="./flow"><img src="./assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="./case"><img src="./assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="./faq"><img src="./assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="./office"><img src="./assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul>
          </div><!-- .inner -->
        </div><!-- #gnav -->
      </nav>

      <div id="slider">
        <div class="slider_inner">
          <ul>
            <li><img src="./assets/img/top/mainimg03.jpg" width="1100" height="380" alt="土谷総合法律事務所の写真"></li>
            <li><img src="./assets/img/top/mainimg01.jpg" width="1100" height="380" alt="土谷総合法律事務所の写真"></li>
            <li><img src="./assets/img/top/mainimg02.jpg" width="1100" height="380" alt="土谷総合法律事務所の写真"></li>
          </ul>
          <div id="slideFilterL"></div>
          <div id="slideFilterR"></div>
        </div><!-- .slider_inner -->
      </div><!-- #slider -->
    </header>

    <section>
      <div id="tsrv">
        <div class="tsrv_inner">
          <h2><img src="./assets/img/top/tsrv_ttl.gif" width="243" height="45" alt="取り扱い業務のご案内"></h2>
          <ul>
            <li><a href="./service/debt.html" class="ophv"><img src="./assets/img/top/tsrv01.jpg" width="210" height="300" alt="借金問題"></a></li>
            <li><a href="./service/work.html" class="ophv"><img src="./assets/img/top/tsrv02.jpg" width="210" height="300" alt="労働問題"></a></li>
            <li><a href="./service/divorce.html" class="ophv"><img src="./assets/img/top/tsrv03.jpg" width="210" height="300" alt="離婚問題"></a></li>
            <li><a href="./service/corporate-law.html" class="ophv"><img src="./assets/img/top/tsrv04.jpg" width="210" height="300" alt="企業法務"></a></li>
            <li><a href="./service/general-law.html" class="ophv"><img src="./assets/img/top/tsrv05.jpg" width="210" height="300" alt="一般法律"></a></li>
          </ul>
        </div><!-- .tsrv_inner -->
      </div><!-- tsrv -->
    </section>

    <div id="top" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_ct"><a href="./contact"><img src="./assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="./service" class="ophv"><img src="./assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="./service/corporate-law.html#h302" class="ophv"><img src="./assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="./faq" class="ophv"><img src="./assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="./case" class="ophv"><img src="./assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="./assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="./office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="tmain" class="main right">
            <div id="section01" class="section">
              <p>この度は、土谷総合法律事務所のホームページをご覧いただきありがとうございます。<br>当事務所へご連絡いただくお客様の中には、「法律に詳しくないから主張をどうやってまとめたらいいかわからない」と言われる方がいます。<br>言わば私たち法律に詳しい専門家が、依頼者の主張をうまくまとめて事件を有利に進めるのが弁護士の仕事です。日本は幸いにも法治国家です。<br>法律でつまずいたら、法律の番人へ、まずはお気軽にご相談くださいませ。</p>
            </div><!-- #section01 -->

            <section>
              <div id="section02" class="section">
                <h2 class="h2ttl">土谷総合法律事務所の３つのお約束</h2>
                <p class="txt">当事務所では、ご依頼者様が安心してご利用いただけるサービスをご提供しております。</p>
                <ul>
                  <li>
                    <h3>初回相談無料</h3>
                    <div class="unit">
                      <p class="txt02">ご依頼者様のお話しをじっくりお聞きするため、初回のご相談は無料です。時間をかけてゆっくり状況をご説明ください。</p><img src="./assets/img/top/sec02_img01.jpg" width="210" height="105" alt="">
                    </div>
                  </li>
                  <li>
                    <h3>豊富な経験・実績</h3>
                    <div class="unit">
                      <p class="txt02">弁護士歴30年以上の経験と知識を活かし、ご依頼者様に最良・最善な解決方法をご提案いたします。安心してご依頼ください。</p><img src="./assets/img/top/sec02_img02.jpg" width="210" height="105" alt="">
                    </div>
                  </li>
                  <li>
                    <h3>迅速・丁寧なサポート</h3>
                    <div class="unit">
                      <p class="txt02">様々な案件を解決してきた弁護士が迅速に対応いたします。ご依頼者様に分かりやすい説明を心掛けておりますのでお気軽にご相談ください。</p><img src="./assets/img/top/sec02_img03.jpg" width="210" height="105" alt="">
                    </div>
                  </li>
                </ul>
              </div><!-- #section02 -->
            </section>

            <section>
              <div id="section03" class="section">
                <h2 class="h2ttl">事務所からのお知らせ<span class="list"><a href="./info">一覧はこちら &gt;</a></span></h2>
                <dl>
                  <dt>2016.09.28</dt>
                  <dd><a href="./info">ホームページをリニューアルしました</a></dd>
                </dl>
              </div><!-- #section03 -->
              <div class="ct_bnr"><a href="./contact"><img src="./assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
            </section>
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="./"><img src="./assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="./service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="./service/debt.html">借金問題</a></li>
                      <li><a href="./service/work.html">労働問題</a></li>
                      <li><a href="./service/divorce.html">離婚問題</a></li>
                      <li><a href="./service/corporate-law.html">企業法務</a></li>
                      <li><a href="./service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="./">トップページ</a></li>
                  <li><a href="./flow">ご相談の流れ</a></li>
                  <li><a href="./case">事例紹介</a></li>
                  <li><a href="./service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="./faq">よくあるご質問</a></li>
                  <li><a href="./lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="./office">事務所紹介</a></li>
                  <li><a href="./office#section02">アクセスマップ</a></li>
                  <li><a href="./info">お知らせ</a></li>
                  <li><a href="./contact">お問い合わせ</a></li>
                  <li><a href="./contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="./assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
