jade/flow/index.jade
extends ../template/low_layout.jade
block meta
  - var page_title = 'ご相談の流れ'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/flow/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/flow/page_ttl.png" width="188" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/flow/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") #{page_title}

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #flow.main.right
          section
            #section01.section
              h2.h2ttl ご相談の流れ
              p.txt01 お問い合わせをいただいてからご相談・事件処理までの流れをご紹介します。
              section
                .unit
                  h3.h3ttl01 お問い合わせ・ご予約
                  .unit_body
                    .txt_area.first.left
                      p まずはお電話またはメールフォームよりお問い合わせください。
                      p ご連絡先、簡単なご相談内容、ご希望の日時をお聞きした上で、ご来所いただく日程を調整させていただきます。
                      p その際に必要な資料等のご案内もいたしますので、当日ご持参ください。
                      p.txt02 お電話でのお問い合わせ &nbsp;&nbsp;
                        span TEL：03-6272-5485
                      p.txt02 メールでのお問い合わせ &nbsp;&nbsp;
                        span
                          a.ophv(href="../contact#section02") メールフォームはこちら
                    p.img.right
                      <img src="../assets/img/flow/sec01_img.jpg" width="230" height="170"  alt="お問い合わせ・ご予約の写真">
              !='\n'

              section
                .unit
                  h3.h3ttl02 ご来所・法律相談
                  .unit_body
                    .txt_area.left
                      p ご来所いただき、面談にてお話をじっくりお聞きいたします。
                      p なお、当事務所ではご相談者様の正確な状況や経緯を把握するため、
                        span.red 初回のご相談は無料とさせていただいております。
                      p 法律は難しいと思っている方も多いですが、当事務所ではなるべく専門用語を使わず、ご依頼者様にわかりやすいご説明を心掛けておりますので、安心してご相談ください。
                      p 弁護士からのアドバイスのみで解決した場合はご相談のみで終了となります。

                    p.img.right
                      <img src="../assets/img/flow/sec02_img.jpg" width="230" height="170"  alt="ご来所・法律相談の写真">
              !='\n'

              section
                .unit
                  h3.h3ttl03 委任契約
                  .unit_body
                    .txt_area.left
                      p ご相談内容やお持ちいただいた資料をもとに、最善と思われる解決策をご提案させていただきます。
                      p 事件処理の依頼をご希望される場合は、当事務所と委任契約を交わしていただきます。
                      p ご提示した解決方法や費用等に関してご検討いただき、ご納得いただけましたらご契約となります。
                      p ご質問やご不明な点がございましたらお気軽にお尋ねください。
                    p.img.right
                      <img src="../assets/img/flow/sec03_img.jpg" width="230" height="170"  alt="委任契約の写真">
              !='\n'

              section
                .unit.last
                  h3.h3ttl04 事件処理・解決
                  .unit_body
                    .txt_area.left
                      p 弁護士が書類作成、事実調査、起訴提起、示談交渉など案件に応じて対応いたします。
                      p ご依頼者様のケースにより解決までの日程や対処方法は異なりますが、事前に予定をお伝えしたします。
                      p また、ご依頼者様との打ち合わせや進捗報告等をさせていだきながら事件処理を進めていきますので、安心してお任せください。
                      p 全ての処理が終わりましたら、晴れて問題解決となります。
                    p.img.right
                      <img src="../assets/img/flow/sec04_img.jpg" width="230" height="170"  alt="事件処理・解決の写真">
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/flow/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="ご相談の流れ - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="ご相談の流れ,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="ご相談の流れ | 土谷総合法律事務所">
    <meta property="og:description" content="ご相談の流れ - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/flow/">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>ご相談の流れ | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/flow/page_ttl.png" width="188" height="67" alt="ご相談の流れ"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">ご相談の流れ</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/flow/slist_ttl.jpg" width="225" height="45" alt="ご相談の流れ"></p>
              <ul class="sl_inner">
                <li><a href="#section01">ご相談の流れ</a></li>
              </ul>
            </div>
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="flow" class="main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">ご相談の流れ</h2>
                <p class="txt01">お問い合わせをいただいてからご相談・事件処理までの流れをご紹介します。</p>
                <section>
                  <div class="unit">
                    <h3 class="h3ttl01">お問い合わせ・ご予約</h3>
                    <div class="unit_body">
                      <div class="txt_area first left">
                        <p>まずはお電話またはメールフォームよりお問い合わせください。</p>
                        <p>ご連絡先、簡単なご相談内容、ご希望の日時をお聞きした上で、ご来所いただく日程を調整させていただきます。</p>
                        <p>その際に必要な資料等のご案内もいたしますので、当日ご持参ください。</p>
                        <p class="txt02">お電話でのお問い合わせ &nbsp;&nbsp;<span>TEL：03-6272-5485</span></p>
                        <p class="txt02">メールでのお問い合わせ &nbsp;&nbsp;<span><a href="../contact#section02" class="ophv">メールフォームはこちら</a></span></p>
                      </div>
                      <p class="img right"><img src="../assets/img/flow/sec01_img.jpg" width="230" height="170"  alt="お問い合わせ・ご予約の写真"></p>
                    </div>
                  </div>
                </section>

                <section>
                  <div class="unit">
                    <h3 class="h3ttl02">ご来所・法律相談</h3>
                    <div class="unit_body">
                      <div class="txt_area left">
                        <p>ご来所いただき、面談にてお話をじっくりお聞きいたします。</p>
                        <p>なお、当事務所ではご相談者様の正確な状況や経緯を把握するため、<span class="red">初回のご相談は無料とさせていただいております。</span></p>
                        <p>法律は難しいと思っている方も多いですが、当事務所ではなるべく専門用語を使わず、ご依頼者様にわかりやすいご説明を心掛けておりますので、安心してご相談ください。</p>
                        <p>弁護士からのアドバイスのみで解決した場合はご相談のみで終了となります。</p>
                      </div>
                      <p class="img right"><img src="../assets/img/flow/sec02_img.jpg" width="230" height="170"  alt="ご来所・法律相談の写真"></p>
                    </div>
                  </div>
                </section>

                <section>
                  <div class="unit">
                    <h3 class="h3ttl03">委任契約</h3>
                    <div class="unit_body">
                      <div class="txt_area left">
                        <p>ご相談内容やお持ちいただいた資料をもとに、最善と思われる解決策をご提案させていただきます。</p>
                        <p>事件処理の依頼をご希望される場合は、当事務所と委任契約を交わしていただきます。</p>
                        <p>ご提示した解決方法や費用等に関してご検討いただき、ご納得いただけましたらご契約となります。</p>
                        <p>ご質問やご不明な点がございましたらお気軽にお尋ねください。</p>
                      </div>
                      <p class="img right"><img src="../assets/img/flow/sec03_img.jpg" width="230" height="170"  alt="委任契約の写真"></p>
                    </div>
                  </div>
                </section>

                <section>
                  <div class="unit last">
                    <h3 class="h3ttl04">事件処理・解決</h3>
                    <div class="unit_body">
                      <div class="txt_area left">
                        <p>弁護士が書類作成、事実調査、起訴提起、示談交渉など案件に応じて対応いたします。</p>
                        <p>ご依頼者様のケースにより解決までの日程や対処方法は異なりますが、事前に予定をお伝えしたします。</p>
                        <p>また、ご依頼者様との打ち合わせや進捗報告等をさせていだきながら事件処理を進めていきますので、安心してお任せください。</p>
                        <p>全ての処理が終わりましたら、晴れて問題解決となります。</p>
                      </div>
                      <p class="img right"><img src="../assets/img/flow/sec04_img.jpg" width="230" height="170"  alt="事件処理・解決の写真"></p>
                    </div>
                  </div>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
