jade/service/corporate-law.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '企業法務'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/corporate-law.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./debt.html") 借金問題
              li
                a(href="./work.html") 労働問題
              li
                a(href="./divorce.html") 離婚問題
              li
                a(href="./") 企業法務
                ul.sli_low
                  li
                    a(href="#h301") 主な業務内容
                  li
                    a(href="#h302") 顧問契約について
              li
                a(href="./general-law.html") 一般法律
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #cor_law.service_low.main.right
          section
            #section01.section
              h2.h2ttl 企業法務
              .sec_inner01
                .sltxt_area01.left
                  p 近年、企業を取り巻くリスクは多様化し、労務問題、人事問題、契約問題、金銭問題、不動産問題など、様々な問題やトラブルが懸念されています。
                  p 当事務所では、企業が日々直面する様々な法律問題に関して、日常的な法的アドバイスや予防策のご提案などをさせていただいております。
                  p 中小企業から大企業まで、あらゆるニーズに応じて、トラブルを未然に防ぐ幅広い法的サービスをご提供いたします。
                  p また、万が一トラブルや問題が発生してしまった場合は、最小限のリスクで解決できるよう、状況に応じて迅速かつ的確に対応し、適切に問題を解決いたします。
                <!-- .sltxt_area -->
                p.right
                  <img src="../assets/img/service/corporate-law/img01.jpg" width="250" height="170" alt="企業法務の写真">
              <!-- .sec_inner01 -->
              !='\n'

              section
                h3#h301.h3ttl 主な業務内容
                .sec_inner01
                  section
                    h4.h4ttl ニーズに応じて幅広く対応いたします
                    p
                      span.mark.bold ●契約・取引法務・・・
                      |売買契約、業務委託契約、販売代理店契約、ライセンス契約等の書類の作成、審査、交渉、手続き
                    p
                      span.mark.bold ●組織・事業法務
                      |法人設立、事業承継、事業譲渡、合併、買収、株主代表訴訟、株主総会・取締役会の運営
                    p
                      span.mark.bold ●コンプライアンス法務・・・
                      |内部統制、プログラム・マニュアルの制定、リーガル・オーディット
                    p
                      span.mark.bold ●人事法務・・・
                      |就業規則、雇用契約、労災関係、労働基準監督署・労働組合の対応、労働裁判の対応
                <!-- sec_inner01 -->
              !='\n'

              section
                h3#h302.h3ttl 顧問契約について
                .sec_inner01
                  .sltxt_area01.left
                    p 顧問契約は、弁護士と企業が継続的な契約を締結し、企業が毎月一定額の顧問料を支払うことで契約の範囲内でいつでも弁護士相談ができる制度です。
                    p 些細な問題が後に大きな紛争に発展し、深刻な事態に陥ってしまうケースも少なくありません。
                    p 顧問契約なら、
                      span.red 企業経営で日常的に生じる些細な問題も気軽に弁護士に相談ができるので、万が一のトラブル時も迅速に対応、アドバイスをすることが可能です。
                    p 身近な法律の専門家として、企業の皆様をサポートいたします。
                    p 以下、顧問契約のメリットをご紹介します。
                  <!-- .sltxt_area01 -->
                  p.right
                    <img src="../assets/img/service/corporate-law/img02.jpg" width="250" height="170" alt="顧問契約についての写真">
                <!-- .sec_inner01 -->
                !='\n'

                section
                  h4.h4ttl 顧問契約のメリット
                  .sec_inner01
                    section
                      h5.h5ttl01 日常的な法律相談が気軽にできる
                      .sltxt_area03
                        p 弁護士に相談するべきかどうか、ちょっと弁護士の意見を聞いてみたい…など、日常的なご相談も、いつでも気軽に弁護士に相談していただけます。
                        p 顧問契約の範囲内であれば、法律相談は何度でも無料ですのでお気軽にご相談ください。
                        p ご面会またはお電話にてご連絡をいただければ、優先的に対応させていただきます。
                      <!-- .sltxt_area03 -->
                    !='\n'

                    section
                      h5.h5ttl02 企業の社会的信用の向上
                      .sltxt_area03
                        p コンプライアンス（法令遵守）などが一層強く求められている現代、顧問弁護士が企業の法務部として業務を行なうことで、社会的信用が高まり、企業イメージも大幅にアップします。
                        p 万が一のトラブルにも迅速に対応でき、法律に関しての一切をプロに安心してお任せいただけます。
                      <!-- .sltxt_area03 -->
                    !='\n'

                    section
                      h5.h5ttl03 迅速・的確な対応が期待できる
                      .sltxt_area03
                        p 問題が起きてから弁護士を探すのでは、依頼手続きや状況説明などに時間がかかり、その間に深刻な事態に陥ってしまう可能性もあります。
                        p 顧問弁護士なら、あらかじめ事業内容や実状を把握しているので、すぐに的確な対応をすることができます。
                      <!-- .sltxt_area03 -->
                  <!-- .sec_inner01 -->
                !='\n'

                section
                  h4.h4ttl 顧問料について
                  .sec_inner01
                    .sltxt_area02
                      p 顧問料は、事業の規模や相談案件の多寡に配慮して決めさせていただいております。
                      p 詳しくはお気軽にお問い合わせください。
                    <!-- .txt_area -->
                    !='\n'

                    table.cl_tbl
                      tr
                        th 顧問料
                        td 月額50,000円（税込み）～
                  <!-- .sec_inner01 -->
                !='\n'

                section
                  h4.h4ttl 顧問契約の流れ
                  .sec_inner01.last
                    .unit
                      p.img.left
                        <img src="../assets/img/service/corporate-law/flow01.jpg" width="200" height="55" alt="お問い合わせ">
                      .txt_area.right
                        p まずはお電話またはメールフォームよりお問い合わせください。
                        p ご面談の日程を調整してご連絡させていただきます。
                      <!-- .txt_area -->
                    <!-- .unit -->
                    !='\n'

                    .unit
                      p.img.left
                        <img src="../assets/img/service/corporate-law/flow02.jpg" width="200" height="55" alt="お問い合わせ">
                      .txt_area.right
                        p まずはお電話またはメールフォームよりお問い合わせください。
                        p ご面談の日程を調整してご連絡させていただきます。
                      <!-- .txt_area -->
                    <!-- .unit -->
                    !='\n'

                    .unit
                      p.img.left
                        <img src="../assets/img/service/corporate-law/flow03.jpg" width="200" height="55" alt="お問い合わせ">
                      .txt_area.right
                        p まずはお電話またはメールフォームよりお問い合わせください。
                        p ご面談の日程を調整してご連絡させていただきます。
                      <!-- .txt_area -->
                    <!-- .unit -->
                    !='\n'

                    .unit
                      p.img.left
                        <img src="../assets/img/service/corporate-law/flow04.jpg" width="200" height="55" alt="お問い合わせ">
                      .txt_area.right
                        p まずはお電話またはメールフォームよりお問い合わせください。
                        p ご面談の日程を調整してご連絡させていただきます。
                      <!-- .txt_area -->
                    <!-- .unit -->
                    !='\n'

                    .unit.last
                      p.img.left
                        <img src="../assets/img/service/corporate-law/flow05.jpg" width="200" height="55" alt="お問い合わせ">
                      .txt_area.right
                        p まずはお電話またはメールフォームよりお問い合わせください。
                        p ご面談の日程を調整してご連絡させていただきます。
                      <!-- .txt_area -->
                    <!-- .unit -->
                  <!-- .sec_inner -->
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/service/corporate-law.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="企業法務 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="企業法務,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="企業法務 | 土谷総合法律事務所">
    <meta property="og:description" content="企業法務 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/service/corporate-law.html">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>企業法務 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="企業法務"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">企業法務</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="企業法務"></p>
              <ul class="sl_inner">
                <li><a href="./debt.html">借金問題</a></li>
                <li><a href="./work.html">労働問題</a></li>
                <li><a href="./divorce.html">離婚問題</a></li>
                <li><a href="./">企業法務</a>
                  <ul class="sli_low">
                    <li><a href="#h301">主な業務内容</a></li>
                    <li><a href="#h302">顧問契約について</a></li>
                  </ul>
                </li>
                <li><a href="./general-law.html">一般法律</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="cor_law" class="service_low main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">企業法務</h2>
                <div class="sec_inner01">
                  <div class="sltxt_area01 left">
                    <p>近年、企業を取り巻くリスクは多様化し、労務問題、人事問題、契約問題、金銭問題、不動産問題など、様々な問題やトラブルが懸念されています。</p>
                    <p>当事務所では、企業が日々直面する様々な法律問題に関して、日常的な法的アドバイスや予防策のご提案などをさせていただいております。</p>
                    <p>中小企業から大企業まで、あらゆるニーズに応じて、トラブルを未然に防ぐ幅広い法的サービスをご提供いたします。</p>
                    <p>また、万が一トラブルや問題が発生してしまった場合は、最小限のリスクで解決できるよう、状況に応じて迅速かつ的確に対応し、適切に問題を解決いたします。</p>
                  </div><!-- .sltxt_area -->
                  <p class="right"><img src="../assets/img/service/corporate-law/img01.jpg" width="250" height="170" alt="企業法務の写真"></p>
                </div><!-- .sec_inner01 -->

                <section>
                  <h3 id="h301" class="h3ttl">主な業務内容</h3>
                  <div class="sec_inner01">
                    <section>
                      <h4 class="h4ttl">ニーズに応じて幅広く対応いたします</h4>
                      <p><span class="mark bold">●契約・取引法務・・・</span>売買契約、業務委託契約、販売代理店契約、ライセンス契約等の書類の作成、審査、交渉、手続き</p>
                      <p><span class="mark bold">●組織・事業法務</span>法人設立、事業承継、事業譲渡、合併、買収、株主代表訴訟、株主総会・取締役会の運営</p>
                      <p><span class="mark bold">●コンプライアンス法務・・・</span>内部統制、プログラム・マニュアルの制定、リーガル・オーディット</p>
                      <p><span class="mark bold">●人事法務・・・</span>就業規則、雇用契約、労災関係、労働基準監督署・労働組合の対応、労働裁判の対応</p>
                    </section>
                  </div><!-- sec_inner01 -->
                </section>

                <section>
                  <h3 id="h302" class="h3ttl">顧問契約について</h3>
                  <div class="sec_inner01">
                    <div class="sltxt_area01 left">
                      <p>顧問契約は、弁護士と企業が継続的な契約を締結し、企業が毎月一定額の顧問料を支払うことで契約の範囲内でいつでも弁護士相談ができる制度です。</p>
                      <p>些細な問題が後に大きな紛争に発展し、深刻な事態に陥ってしまうケースも少なくありません。</p>
                      <p>顧問契約なら、<span class="red">企業経営で日常的に生じる些細な問題も気軽に弁護士に相談ができるので、万が一のトラブル時も迅速に対応、アドバイスをすることが可能です。</span></p>
                      <p>身近な法律の専門家として、企業の皆様をサポートいたします。</p>
                      <p>以下、顧問契約のメリットをご紹介します。</p>
                    </div><!-- .sltxt_area01 -->
                    <p class="right"><img src="../assets/img/service/corporate-law/img02.jpg" width="250" height="170" alt="顧問契約についての写真"></p>
                  </div><!-- .sec_inner01 -->

                  <section>
                    <h4 class="h4ttl">顧問契約のメリット</h4>
                    <div class="sec_inner01">
                      <section>
                        <h5 class="h5ttl01">日常的な法律相談が気軽にできる</h5>
                        <div class="sltxt_area03">
                          <p>弁護士に相談するべきかどうか、ちょっと弁護士の意見を聞いてみたい…など、日常的なご相談も、いつでも気軽に弁護士に相談していただけます。</p>
                          <p>顧問契約の範囲内であれば、法律相談は何度でも無料ですのでお気軽にご相談ください。</p>
                          <p>ご面会またはお電話にてご連絡をいただければ、優先的に対応させていただきます。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>

                      <section>
                        <h5 class="h5ttl02">企業の社会的信用の向上</h5>
                        <div class="sltxt_area03">
                          <p>コンプライアンス（法令遵守）などが一層強く求められている現代、顧問弁護士が企業の法務部として業務を行なうことで、社会的信用が高まり、企業イメージも大幅にアップします。</p>
                          <p>万が一のトラブルにも迅速に対応でき、法律に関しての一切をプロに安心してお任せいただけます。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>

                      <section>
                        <h5 class="h5ttl03">迅速・的確な対応が期待できる</h5>
                        <div class="sltxt_area03">
                          <p>問題が起きてから弁護士を探すのでは、依頼手続きや状況説明などに時間がかかり、その間に深刻な事態に陥ってしまう可能性もあります。</p>
                          <p>顧問弁護士なら、あらかじめ事業内容や実状を把握しているので、すぐに的確な対応をすることができます。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>
                    </div><!-- .sec_inner01 -->
                  </section>

                  <section>
                    <h4 class="h4ttl">顧問料について</h4>
                    <div class="sec_inner01">
                      <div class="sltxt_area02">
                        <p>顧問料は、事業の規模や相談案件の多寡に配慮して決めさせていただいております。</p>
                        <p>詳しくはお気軽にお問い合わせください。</p>
                      </div><!-- .txt_area -->

                      <table class="cl_tbl">
                        <tr>
                          <th>顧問料</th>
                          <td>月額50,000円（税込み）～</td>
                        </tr>
                      </table>
                    </div><!-- .sec_inner01 -->
                  </section>

                  <section>
                    <h4 class="h4ttl">顧問契約の流れ</h4>
                    <div class="sec_inner01 last">
                      <div class="unit">
                        <p class="img left"><img src="../assets/img/service/corporate-law/flow01.jpg" width="200" height="55" alt="お問い合わせ"></p>
                        <div class="txt_area right">
                          <p>まずはお電話またはメールフォームよりお問い合わせください。</p>
                          <p>ご面談の日程を調整してご連絡させていただきます。</p>
                        </div><!-- .txt_area -->
                      </div><!-- .unit -->

                      <div class="unit">
                        <p class="img left"><img src="../assets/img/service/corporate-law/flow02.jpg" width="200" height="55" alt="お問い合わせ"></p>
                        <div class="txt_area right">
                          <p>まずはお電話またはメールフォームよりお問い合わせください。</p>
                          <p>ご面談の日程を調整してご連絡させていただきます。</p>
                        </div><!-- .txt_area -->
                      </div><!-- .unit -->

                      <div class="unit">
                        <p class="img left"><img src="../assets/img/service/corporate-law/flow03.jpg" width="200" height="55" alt="お問い合わせ"></p>
                        <div class="txt_area right">
                          <p>まずはお電話またはメールフォームよりお問い合わせください。</p>
                          <p>ご面談の日程を調整してご連絡させていただきます。</p>
                        </div><!-- .txt_area -->
                      </div><!-- .unit -->

                      <div class="unit">
                        <p class="img left"><img src="../assets/img/service/corporate-law/flow04.jpg" width="200" height="55" alt="お問い合わせ"></p>
                        <div class="txt_area right">
                          <p>まずはお電話またはメールフォームよりお問い合わせください。</p>
                          <p>ご面談の日程を調整してご連絡させていただきます。</p>
                        </div><!-- .txt_area -->
                      </div><!-- .unit -->

                      <div class="unit last">
                        <p class="img left"><img src="../assets/img/service/corporate-law/flow05.jpg" width="200" height="55" alt="お問い合わせ"></p>
                        <div class="txt_area right">
                          <p>まずはお電話またはメールフォームよりお問い合わせください。</p>
                          <p>ご面談の日程を調整してご連絡させていただきます。</p>
                        </div><!-- .txt_area -->
                      </div><!-- .unit -->
                    </div><!-- .sec_inner -->
                  </section>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
