_html/service/debt.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="借金問題 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="借金問題,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="借金問題 | 土谷総合法律事務所">
    <meta property="og:description" content="借金問題 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/service/debt.html">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>借金問題 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="借金問題"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">借金問題</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="借金問題"></p>
              <ul class="sl_inner">
                <li><a href="./">借金問題</a>
                  <ul class="sli_low">
                    <li><a href="#h301">過払い請求</a></li>
                    <li><a href="#h302">任意整理</a></li>
                    <li><a href="#h303">自己破産</a></li>
                    <li><a href="#h304">民事再生</a></li>
                    <li><a href="#h305">総量規制</a></li>
                  </ul>
                </li>
                <li><a href="./work.html">労働問題</a></li>
                <li><a href="./divorce.html">離婚問題</a></li>
                <li><a href="./corporate-law.html">企業法務</a></li>
                <li><a href="./general-law.html">一般法律</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="debt" class="service_low main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">借金問題</h2>
                <div class="sec_inner01">
                  <div class="sltxt_area01 left">
                    <p>今すぐに取り立てを止めたい、月々の返済額を減らしたい、返済の目途が立たないなど、借金問題でお困りではないですか？</p>
                    <p>多重債務や利息の支払いで返済が苦しくなっている方は、お一人で悩まず弁護士にお気軽にご相談ください。</p>
                    <p>払いすぎた利息を返還してもらう過払い金請求、借金や利息の減額・免除を交渉する任意整理、自己破産、民事再生など、ご依頼者様にとって円滑な生活再建策のご提案をいたします。</p>
                  </div><!-- .sltxt_area01 -->
                  <p class="right"><img src="../assets/img/service/debt/img01.jpg" width="250" height="170" alt="借金問題の写真"></p>
                </div><!-- .sec_inner01 -->

                <section>
                  <h3 id="h301" class="h3ttl">過払い金請求</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">過払い金とは？</h4>
                      <div class="sltxt_area02">
                        <p>過払い金とは、債務者が消費者金融会社等の貸金業者に余分に返済しすぎたお金のことです。</p>
                        <p>あなたは金利15％以上支払っていませんか？100万円以上お借り入れの場合、15%以上の金利を払う必要はありません。</p>
                        <p><span class="red">消費者金融や信販会社などの貸金業者と取引のある方は、過払い金が発生している可能性があります。</span></p>
                        <p>債務者が貸金業者から、利息制限法の利率を越える金利で借り入れをしている場合には、本来であれば支払う必要のないお金ですので、過払い金の返還請求が可能となります。</p>
                      </div><!-- sltxt_area02 -->

                      <p class="img01"><img src="../assets/img/service/debt/img02.jpg" width="750" height="410" alt="過払い金請求の図"></p>

                      <div class="txt_area01">
                        <p>上記表のグレーゾーン金利以上で過去にお支払いのある方は、残債務の減額あるいは、過払い金として請求できます。</p>
                        <p>グレーゾーン金利とは、利息制限法で決められた金利と、犯罪として罰せられる出資法の29.2%の間をいいます。</p>
                        <p><span class="red">すでに完済されている方も、完済後10年が経過していなければ過払い金返還請求はできます。</span></p>
                        <p>たとえ、完済してから10年以上経過しても、10年以内に新規取引があれば、過去完済分も過払いの対象となります。</p>
                      </div><!-- .txt_area01 -->
                    </section>

                    <section>
                      <h4 class="h4ttl">過払い金が発生する理由</h4>
                      <div class="txt_area02">
                        <p>消費者金融の広告などで、29.2%以下という数字をよく目にすると思います。</p>
                        <p>本来100万円以上の場合、法に定められている金利は15％以内ですが、消費者金融は29.2％の金利での営業がほとんどです。</p>
                        <p>これは法律に定められているだけで、刑罰対象にならないからです。仮に、29.2％以上を取れば出資法で法律違反となります。</p>
                        <p>その盲点を突き、今までの金融会社は大手金融会社にも関わらず、利息制限法に違反した営業をしてきました。</p>
                        <p>しかし、平成18年度の法改正により今までのグレーゾーン部分の支払い分を廃止し、余計に取りすぎた過払い金をお客様の元に返還しなくてはならなくなりました。</p>
                      </div><!-- .txt_area02 -->

                      <section>
                        <h5 class="h5ttl bold navy">利息制限法で定められている一定の基準</h5>
                        <p class="img02"><img src="../assets/img/service/debt/img03.jpg" width="750" height="163" alt="利息表"></p>
                      </section>

                    </section>
                    <p class="intro_btn"><a href="../case"><img src="../assets/img/service/debt/intro_btn_n.jpg" width="300" height="45" alt="過払い金請求の事例紹介はこちら"></a></p>
                  </div>
                </section>

                <section>
                  <h3 id="h302" class="h3ttl">任意整理</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">任意整理とは？</h4>
                      <div class="sltxt_area02">
                        <p>任意整理は、現在返済中の借金を弁護士が代理人として間に入り、裁判所を通さずに任意で債権者と交渉し、借金を減額して今後の利息をなくし、<span class="red">負担を出来る限り少なくして支払いを終える手続き</span>のことです。</p>
                      </div><!-- .sltxt_area02 -->

                      <section>
                        <h5 class="h5ttl navy">●任意整理のメリット</h5>
                        <table class="mer_tbl">
                          <tr>
                            <th>メリット</th>
                            <td>
                              <p>●大幅に借金が減額できる。</p>
                              <p>●支払い・取立てがすぐに止まる。</p>
                              <p>●長期で支払いをしている方は、借金が消え、さらにお金が戻ってくる可能性がある。</p>
                              <p>●今後の利息がなくなる。</p>
                              <p>●一部の債権者のみ依頼することが出来る。</p>
                            </td>
                          </tr>
                        </table>
                      </section>
                    </section>

                    <section>
                      <h4 class="h4ttl">任意請求の流れ</h4>
                      <div class="unit">
                        <p class="left"><img src="../assets/img/service/debt/flow01.jpg" width="150" height="55" alt="弁護士に依頼"></p>
                        <div class="txt_area03 right">
                          <p>まずは当事務所までご連絡ください。</p>
                          <p>各債権者に連絡・書類送付にてその日の内に支払いや取立てをストップします。</p>
                        </div><!-- .txt_area03 -->
                      </div><!-- .unit -->

                      <div class="unit">
                        <p class="left"><img src="../assets/img/service/debt/flow02.jpg" width="150" height="55" alt="債務の調査"></p>
                        <div class="txt_area03 right">
                          <p>過去から現在に至るまでの借り入れや支払い状況を調査します。</p>
                          <p>貸金業者との交渉や手続きはすべて当事務所が行ないます。</p>
                        </div><!-- .txt_area03 -->
                      </div><!-- .unit -->

                      <div class="unit">
                        <p class="left"><img src="../assets/img/service/debt/flow03.jpg" width="150" height="55" alt="和解の交渉"></p>
                        <div class="txt_area03 right">
                          <p>今後の支払いについて、債権者と交渉し債務の減額や今後の利息をなくして返済できるように話し合います。払いすぎたお金があれば、当然返還してもらえるよう手続きします。</p>
                        </div><!-- .txt_area03 -->
                      </div><!-- .unit -->

                      <div class="unit last">
                        <p class="left"><img src="../assets/img/service/debt/flow04.jpg" width="150" height="55" alt="和解成立"></p>
                        <div class="txt_area03 right">
                          <p>和解が成立したら、正式な和解書を債権者と交わし和解した内容で返済をしていけば支払いが終了します。</p>
                        </div><!-- .txt_area03 -->
                      </div><!-- .unit -->

                    </section>
                    <p class="intro_btn"><a href="../case"><img src="../assets/img/service/debt/intro_btn02_n.gif" width="300" height="45" alt="任意整理の事例紹介はこちら"></a></p>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h303" class="h3ttl">自己破産</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">自己破産とは？</h4>
                      <div class="txt_area02">
                        <p>自己破産とは、多額の借金などにより支払いが不能な状態に陥り、経済的に今後も支払いが出来なくなってしまった方に対して<span class="red">裁判所を通して支払いを免除してもらう制度</span>です。</p>
                        <p>ただし、家や車など一定の財産がある場合は債権者に配当されるため、これらの財産は失うことになります。</p>
                      </div><!-- .txt_area02 -->

                      <section>
                        <h5 class="h5ttl navy">●対象となる方</h5>
                        <div class="txt_area02">
                          <p>・収入はあるが、継続した支払いが出来ない方</p>
                        </div><!-- .txt_area02 -->
                      </section>

                      <section>
                        <h5 class="h5ttl01 navy">●自己破産のメリット・デメリット</h5>
                        <table>
                          <tr>
                            <th>メリット</th>
                            <td>●借金がなくなり再出発できる。</td>
                          </tr>
                          <tr>
                            <th>デメリット</th>
                            <td>
                              <p>●住宅や車、高価な財産などはお金に買えて債権者に分配される</p>
                              <p>●破産手続き中は、資格制限があり、仕事に制限がある（弁護士、司法書士、行政書士、公認会計士、税理士、会社の取締役、保険外交員、宅地見物取引責任者、警備員 など）</p>
                              <p>●官報に掲載される。</p>
                            </td>
                          </tr>
                        </table>
                      </section>
                    </section>
                  </div>
                </section>

                <section>
                  <h3 id="h304" class="h3ttl">民事再生</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">民事再生とは？</h4>
                      <div class="txt_area02">
                        <p>民事再生とは、多額の借金により、支払いが不能な状態に陥る恐れがあり、従来どおりの支払いが出来なくなってしまった方が裁判所への申し立てによって<span class="red">家や車等の生活に必要な財産を維持しつつ、借金を圧縮する制度</span>です。</p>
                      </div><!-- txt_area02 -->

                      <section>
                        <h5 class="h5ttl navy">対象となる方</h5>
                        <div class="txt_area02">
                          <p>・将来において定期的かつ安定した収入が見込まれる方（個人事業主、サラリーマン など）</p>
                          <p>・住宅ローン以外の借金が5,000万円以下の方</p>
                        </div><!-- .txt_area02 -->
                      </section>

                      <section>
                        <h5 class="h5ttl01 navy">民事再生のメリット・デメリット</h5>
                        <table>
                          <tr>
                            <th>メリット</th>
                            <td>
                              <p>●住宅ローン返済中の現在の住居を処分せずに出来る。</p>
                              <p>●所有する財産を維持したままで経済的更生を図れる（積み立て式の生命保険、学資保険など解約する必要はありません）</p>
                              <p>●資格制限が無い</p>
                              <p>●借金の増大の原因を問題にされない（自己破産の場合、ギャンブルなどの浪費が主な借り入れ原因の場合、免責不許可事由に該当します）</p>
                            </td>
                          </tr>
                          <tr>
                            <th>デメリット</th>
                            <td>
                              <p>●官報に記載される。</p>
                              <p>●民事再生の手続きが認められない場合、破産手続きに移行される場合がある。</p>
                            </td>
                          </tr>
                        </table>
                      </section>
                    </section>
                  </div>
                </section>

                <section>
                  <h3 id="h305" class="h3ttl">総量規制</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">総量規制とは？</h4>
                      <div class="sec_inner01">
                        <div class="sltxt_area01 left">
                          <p>総量規制とは個人の借入総額が、原則、年収等の3分の1までに制限される仕組みを言います。（ただし一部除外または例外となる借入れもあります。）</p>
                          <p>貸付けの契約には「個人向け貸付け」「個人向け保証」「法人向け貸付け」「法人向け保証」の4種類があり、その中で、総量規制の対象となるのは「個人向け貸付け」のみです。</p>
                          <p>法人向け貸付けと法人向け保証、また個人向けであっても個人向け保証については総量規制の対象にはなりません。</p>
                          <p>この「個人向け貸付け」とは、個人がお金を借り入れる行為のことですが、個人が事業用資金として借入れる場合は、原則として総量規制の対象とはなりません。</p>
                        </div><!-- .sltxt_area01 -->
                        <p class="right"><img src="../assets/img/service/debt/img04.jpg" width="250" height="180" alt="総量規制の写真"></p>
                      </div><!-- .sec_inner01 -->

                      <section>
                        <h5 class="h5ttl navy">●個人が借り入れを申し込んだ場合</h5>
                        <div class="txt_area02">
                          <p>貸金業者が個人顧客から新たな貸付けの申し込みを受けた場合、指定信用情報機関が保有する個人信用情報を使用し、他の貸金業者からの借入残高を調査します。</p>
                          <p>なお、貸金業者は利用者とリボルビング契約を締結した場合、1ヶ月の貸付けの合計額が5万円以上であり、かつ貸付残高が10万円以上の場合、毎月指定信用情報機関から情報を得て、残高を調べなければなりません。</p>
                          <p>貸付残高が10万円以上の場合には、3ヶ月以内に一度、指定信用情報機関から情報を得て、残高を調べる必要があります。</p>
                        </div><!-- txt_area02 -->
                        <div class="txt_area01">
                          <p>また、貸金業者が、自社の貸付残高が50万円を超える貸付けを行う場合（与信枠が50万円を超える場合も含みます。）あるいは他の貸金業者を含めた総貸付額が100万円を超える貸付けを行う場合には、収入を明らかにする書類の提出を求めることになります。（貸金業者は、この書類を用いて利用者に貸し付けた場合、年収等の3分の1を超えないか確認します。）</p>
                        </div><!-- txt_area01 -->
                      </section>

                      <h4 class="h4ttl">総量規制の除外と例外</h4>
                      <div class="txt_area02">
                        <p>総量規制には、総量規制の対象とならない「除外」または「例外」となる貸付けがあります。</p>
                      </div><!-- .txt_area02 -->

                      <section>
                        <h5 class="h5ttl">【除外となる場合】</h5>
                        <div class="txt_area02">
                          <p>不動産購入のための貸付け、自動車購入時の自動車担保貸付けなどは、同じ貸付けの残高としてあっても総量規制の貸付残高には含まれません。</p>
                        </div><!-- txr_area02 -->
                      </section>

                      <section>
                        <h5 class="h5ttl">【例外となる場合】</h5>
                        <p>貸付けの残高としては算入するものの、例外的に年収の3分の1を超えている場合でも、その部分について返済の能力があるかを判断したうえで、貸付けができるものです。</p>
                        <p>例えば、年収が300万円ある人が100万円を借入れている場合、これですでに3分の1となりますが、緊急に医療費としてあと30万円借りたいというような申し出があったときに、これについては例外規定という形で貸付けができる場合があります。</p>
                      </section>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 class="h3ttl">その他借金問題</h3>
                  <p>上記の他、借金問題に関するお悩みやお困りのことがございましたらお気軽にご相談ください。</p>
                  <p>実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。</p>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>

jade/service/debt.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '借金問題'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/debt.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./") 借金問題
                ul.sli_low
                  li
                    a(href="#h301") 過払い請求
                  li
                    a(href="#h302") 任意整理
                  li
                    a(href="#h303") 自己破産
                  li
                    a(href="#h304") 民事再生
                  li
                    a(href="#h305") 総量規制
              li
                a(href="./work.html") 労働問題
              li
                a(href="./divorce.html") 離婚問題
              li
                a(href="./corporate-law.html") 企業法務
              li
                a(href="./general-law.html") 一般法律
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #debt.service_low.main.right
          section
            #section01.section
              h2.h2ttl #{page_title}
              .sec_inner01
                .sltxt_area01.left
                  p 今すぐに取り立てを止めたい、月々の返済額を減らしたい、返済の目途が立たないなど、借金問題でお困りではないですか？
                  p 多重債務や利息の支払いで返済が苦しくなっている方は、お一人で悩まず弁護士にお気軽にご相談ください。
                  p 払いすぎた利息を返還してもらう過払い金請求、借金や利息の減額・免除を交渉する任意整理、自己破産、民事再生など、ご依頼者様にとって円滑な生活再建策のご提案をいたします。
                <!-- .sltxt_area01 -->
                p.right
                  <img src="../assets/img/service/debt/img01.jpg" width="250" height="170" alt="借金問題の写真">
              <!-- .sec_inner01 -->
              !='\n'

              section
                h3#h301.h3ttl 過払い金請求
                .sec_inner02
                  section
                    h4.h4ttl 過払い金とは？
                    .sltxt_area02
                      p 過払い金とは、債務者が消費者金融会社等の貸金業者に余分に返済しすぎたお金のことです。
                      p あなたは金利15％以上支払っていませんか？100万円以上お借り入れの場合、15%以上の金利を払う必要はありません。
                      p
                        span.red 消費者金融や信販会社などの貸金業者と取引のある方は、過払い金が発生している可能性があります。
                      p 債務者が貸金業者から、利息制限法の利率を越える金利で借り入れをしている場合には、本来であれば支払う必要のないお金ですので、過払い金の返還請求が可能となります。
                    <!-- sltxt_area02 -->
                    !='\n'

                    p.img01
                      <img src="../assets/img/service/debt/img02.jpg" width="750" height="410" alt="過払い金請求の図">
                    !='\n'

                    .txt_area01
                      p 上記表のグレーゾーン金利以上で過去にお支払いのある方は、残債務の減額あるいは、過払い金として請求できます。
                      p グレーゾーン金利とは、利息制限法で決められた金利と、犯罪として罰せられる出資法の29.2%の間をいいます。
                      p
                        span.red すでに完済されている方も、完済後10年が経過していなければ過払い金返還請求はできます。
                      p たとえ、完済してから10年以上経過しても、10年以内に新規取引があれば、過去完済分も過払いの対象となります。
                    <!-- .txt_area01 -->
                  !='\n'

                  section
                    h4.h4ttl 過払い金が発生する理由
                    .txt_area02
                      p 消費者金融の広告などで、29.2%以下という数字をよく目にすると思います。
                      p 本来100万円以上の場合、法に定められている金利は15％以内ですが、消費者金融は29.2％の金利での営業がほとんどです。
                      p これは法律に定められているだけで、刑罰対象にならないからです。仮に、29.2％以上を取れば出資法で法律違反となります。
                      p その盲点を突き、今までの金融会社は大手金融会社にも関わらず、利息制限法に違反した営業をしてきました。
                      p しかし、平成18年度の法改正により今までのグレーゾーン部分の支払い分を廃止し、余計に取りすぎた過払い金をお客様の元に返還しなくてはならなくなりました。
                    <!-- .txt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl.bold.navy 利息制限法で定められている一定の基準
                      p.img02
                        <img src="../assets/img/service/debt/img03.jpg" width="750" height="163" alt="利息表">
                    !='\n'

                  p.intro_btn
                    a(href="../case")
                      <img src="../assets/img/service/debt/intro_btn_n.jpg" width="300" height="45" alt="過払い金請求の事例紹介はこちら">
              !='\n'

              section
                h3#h302.h3ttl 任意整理
                .sec_inner02
                  section
                    h4.h4ttl 任意整理とは？
                    .sltxt_area02
                      p 任意整理は、現在返済中の借金を弁護士が代理人として間に入り、裁判所を通さずに任意で債権者と交渉し、借金を減額して今後の利息をなくし、
                        span.red 負担を出来る限り少なくして支払いを終える手続き
                        |のことです。
                    <!-- .sltxt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl.navy ●任意整理のメリット
                      table.mer_tbl
                        tr
                          th メリット
                          td
                            p ●大幅に借金が減額できる。
                            p ●支払い・取立てがすぐに止まる。
                            p ●長期で支払いをしている方は、借金が消え、さらにお金が戻ってくる可能性がある。
                            p ●今後の利息がなくなる。
                            p ●一部の債権者のみ依頼することが出来る。
                  !='\n'

                  section
                    h4.h4ttl 任意請求の流れ
                    .unit
                      p.left
                        <img src="../assets/img/service/debt/flow01.jpg" width="150" height="55" alt="弁護士に依頼">
                      .txt_area03.right
                        p まずは当事務所までご連絡ください。
                        p 各債権者に連絡・書類送付にてその日の内に支払いや取立てをストップします。
                      <!-- .txt_area03 -->
                    <!-- .unit -->
                    !='\n'

                    .unit
                      p.left
                        <img src="../assets/img/service/debt/flow02.jpg" width="150" height="55" alt="債務の調査">
                      .txt_area03.right
                        p 過去から現在に至るまでの借り入れや支払い状況を調査します。
                        p 貸金業者との交渉や手続きはすべて当事務所が行ないます。
                      <!-- .txt_area03 -->
                    <!-- .unit -->
                    !='\n'

                    .unit
                      p.left
                        <img src="../assets/img/service/debt/flow03.jpg" width="150" height="55" alt="和解の交渉">
                      .txt_area03.right
                        p 今後の支払いについて、債権者と交渉し債務の減額や今後の利息をなくして返済できるように話し合います。払いすぎたお金があれば、当然返還してもらえるよう手続きします。
                      <!-- .txt_area03 -->
                    <!-- .unit -->
                    !='\n'

                    .unit.last
                      p.left
                        <img src="../assets/img/service/debt/flow04.jpg" width="150" height="55" alt="和解成立">
                      .txt_area03.right
                        p 和解が成立したら、正式な和解書を債権者と交わし和解した内容で返済をしていけば支払いが終了します。
                      <!-- .txt_area03 -->
                    <!-- .unit -->
                    !='\n'


                  p.intro_btn
                    a(href="../case")
                      <img src="../assets/img/service/debt/intro_btn02_n.gif" width="300" height="45" alt="任意整理の事例紹介はこちら">
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h303.h3ttl 自己破産
                .sec_inner02
                  section
                    h4.h4ttl 自己破産とは？
                    .txt_area02
                      p 自己破産とは、多額の借金などにより支払いが不能な状態に陥り、経済的に今後も支払いが出来なくなってしまった方に対して
                        span.red 裁判所を通して支払いを免除してもらう制度
                        |です。
                      p ただし、家や車など一定の財産がある場合は債権者に配当されるため、これらの財産は失うことになります。
                    <!-- .txt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl.navy ●対象となる方
                      .txt_area02
                        p ・収入はあるが、継続した支払いが出来ない方
                      <!-- .txt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl01.navy ●自己破産のメリット・デメリット
                      table
                        tr
                          th メリット
                          td ●借金がなくなり再出発できる。
                        tr
                          th デメリット
                          td
                            p ●住宅や車、高価な財産などはお金に買えて債権者に分配される
                            p ●破産手続き中は、資格制限があり、仕事に制限がある（弁護士、司法書士、行政書士、公認会計士、税理士、会社の取締役、保険外交員、宅地見物取引責任者、警備員 など）
                            p ●官報に掲載される。
              !='\n'

              section
                h3#h304.h3ttl 民事再生
                .sec_inner02
                  section
                    h4.h4ttl 民事再生とは？
                    .txt_area02
                      p 民事再生とは、多額の借金により、支払いが不能な状態に陥る恐れがあり、従来どおりの支払いが出来なくなってしまった方が裁判所への申し立てによって
                        span.red 家や車等の生活に必要な財産を維持しつつ、借金を圧縮する制度
                        |です。
                    <!-- txt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl.navy 対象となる方
                      .txt_area02
                        p ・将来において定期的かつ安定した収入が見込まれる方（個人事業主、サラリーマン など）
                        p ・住宅ローン以外の借金が5,000万円以下の方
                      <!-- .txt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl01.navy 民事再生のメリット・デメリット
                      table
                        tr
                          th メリット
                          td
                            p ●住宅ローン返済中の現在の住居を処分せずに出来る。
                            p ●所有する財産を維持したままで経済的更生を図れる（積み立て式の生命保険、学資保険など解約する必要はありません）
                            p ●資格制限が無い
                            p ●借金の増大の原因を問題にされない（自己破産の場合、ギャンブルなどの浪費が主な借り入れ原因の場合、免責不許可事由に該当します）
                        tr
                          th デメリット
                          td
                            p ●官報に記載される。
                            p ●民事再生の手続きが認められない場合、破産手続きに移行される場合がある。
              !='\n'

              section
                h3#h305.h3ttl 総量規制
                .sec_inner02
                  section
                    h4.h4ttl 総量規制とは？
                    .sec_inner01
                      .sltxt_area01.left
                        p 総量規制とは個人の借入総額が、原則、年収等の3分の1までに制限される仕組みを言います。（ただし一部除外または例外となる借入れもあります。）
                        p 貸付けの契約には「個人向け貸付け」「個人向け保証」「法人向け貸付け」「法人向け保証」の4種類があり、その中で、総量規制の対象となるのは「個人向け貸付け」のみです。
                        p 法人向け貸付けと法人向け保証、また個人向けであっても個人向け保証については総量規制の対象にはなりません。
                        p この「個人向け貸付け」とは、個人がお金を借り入れる行為のことですが、個人が事業用資金として借入れる場合は、原則として総量規制の対象とはなりません。
                      <!-- .sltxt_area01 -->
                      p.right
                        <img src="../assets/img/service/debt/img04.jpg" width="250" height="180" alt="総量規制の写真">
                    <!-- .sec_inner01 -->
                    !='\n'

                    section
                      h5.h5ttl.navy ●個人が借り入れを申し込んだ場合
                      .txt_area02
                        p 貸金業者が個人顧客から新たな貸付けの申し込みを受けた場合、指定信用情報機関が保有する個人信用情報を使用し、他の貸金業者からの借入残高を調査します。
                        p なお、貸金業者は利用者とリボルビング契約を締結した場合、1ヶ月の貸付けの合計額が5万円以上であり、かつ貸付残高が10万円以上の場合、毎月指定信用情報機関から情報を得て、残高を調べなければなりません。
                        p 貸付残高が10万円以上の場合には、3ヶ月以内に一度、指定信用情報機関から情報を得て、残高を調べる必要があります。
                      <!-- txt_area02 -->
                      .txt_area01
                        p また、貸金業者が、自社の貸付残高が50万円を超える貸付けを行う場合（与信枠が50万円を超える場合も含みます。）あるいは他の貸金業者を含めた総貸付額が100万円を超える貸付けを行う場合には、収入を明らかにする書類の提出を求めることになります。（貸金業者は、この書類を用いて利用者に貸し付けた場合、年収等の3分の1を超えないか確認します。）
                      <!-- txt_area01 -->
                    !='\n'

                    h4.h4ttl 総量規制の除外と例外
                    .txt_area02
                      p 総量規制には、総量規制の対象とならない「除外」または「例外」となる貸付けがあります。
                    <!-- .txt_area02 -->
                    !='\n'

                    section
                      h5.h5ttl 【除外となる場合】
                      .txt_area02
                        p 不動産購入のための貸付け、自動車購入時の自動車担保貸付けなどは、同じ貸付けの残高としてあっても総量規制の貸付残高には含まれません。
                      <!-- txr_area02 -->
                    !='\n'

                    section
                      h5.h5ttl 【例外となる場合】
                      p 貸付けの残高としては算入するものの、例外的に年収の3分の1を超えている場合でも、その部分について返済の能力があるかを判断したうえで、貸付けができるものです。
                      p 例えば、年収が300万円ある人が100万円を借入れている場合、これですでに3分の1となりますが、緊急に医療費としてあと30万円借りたいというような申し出があったときに、これについては例外規定という形で貸付けができる場合があります。
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3.h3ttl その他借金問題
                p 上記の他、借金問題に関するお悩みやお困りのことがございましたらお気軽にご相談ください。
                p 実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
