_html/service/divorce.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="離婚問題 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="離婚問題,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="離婚問題 | 土谷総合法律事務所">
    <meta property="og:description" content="離婚問題 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/service/divorce.html">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>離婚問題 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="離婚問題"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">離婚問題</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="離婚問題"></p>
              <ul class="sl_inner">
                <li><a href="./debt.html">借金問題</a></li>
                <li><a href="./work.html">労働問題</a></li>
                <li><a href="./">離婚問題</a>
                  <ul class="sli_low">
                    <li><a href="#h301">離婚の種類</a></li>
                    <li><a href="#h302">親権</a></li>
                    <li><a href="#h303">教育費</a></li>
                    <li><a href="#h304">財産分与</a></li>
                    <li><a href="#h305">慰謝料請求</a></li>
                    <li><a href="#h306">婚姻費用の分担請求</a></li>
                    <li><a href="#h307">離婚無効の裁判</a></li>
                  </ul>
                </li>
                <li><a href="./corporate-law.html">企業法務</a></li>
                <li><a href="./general-law.html">一般法律</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="divorce" class="service_low main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">離婚問題</h2>
                <div class="sec_inner01">
                  <div class="sltxt_area01 left">
                    <p>現在、日本では協議離婚が圧倒的に多く、夫婦間で離婚に関する協議が整わない場合は、家庭裁判所の調停による離婚や、裁判による離婚もあります。</p>
                    <p>離婚問題において話し合われる内容は、離婚そのものだけでなく、子供に関する親権・養育費・面接交渉、資産・負債に関する財産分与、離婚原因を作出した相手方に対する慰謝料と多岐にわたります。</p>
                    <p>当事者間で離婚については合意ができたとしても、子供の問題について解決しなかったり、適切な養育費・慰謝料というのも一律に決めがたいものです。</p>
                  </div><!-- .sltxt_area01 -->
                  <p class="right"><img src="../assets/img/service/divorce/img01.jpg" width="250" height="170" alt="離婚問題の写真"></p>
                </div><!-- .sec_inner01 -->

                <section>
                  <h3 id="h301" class="h3ttl">離婚の種類</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">4つの離婚の方法</h4>
                      <table>
                        <tr>
                          <th>1.協議離婚</th>
                          <td>
                            <p>夫婦間の話し合いで離婚に合意し、役所窓口に離婚届を提出するものです。</p>
                            <p>日本の離婚の90％はこの協議離婚で成立しています。</p>
                            <p>協議離婚の場合、<span class="red">成年の子どもがいる場合は「親権者」が決まっていないと離婚ができません。</span></p>
                            <p>また、養育費、財産分与、慰謝料なども夫婦での話し合いで決めることになります。</p>
                            <p>離婚後にトラブルにならないよう、取り決めた内容は書面等にまとめておくと良いでしょう。</p>
                          </td>
                        </tr>
                        <tr>
                          <th>2.調停離婚</th>
                          <td>
                            <p>夫婦の話し合いがまとまらない場合、家庭裁判所に調停の申し立てをして調停委員を交えて話し合いをします。</p>
                            <p>調停委員が両当事者の話を聞き、専門的な判断やアドバイスをしながら話し合いを進めます。</p>
                            <p>離婚調停の結果、<span class="red">夫婦で離婚の合意ができれば調停調書が作成され、離婚が成立します。</span></p>
                            <p>あくまでも調停委員を交えた話し合いなので、夫婦が合意に至らなければ、協議離婚と同じく離婚は成立しません。</p>
                          </td>
                        </tr>
                        <tr>
                          <th>3.審判離婚</th>
                          <td>
                            <p>離婚調停で夫婦の話がまとまらず「調停不調」になった場合に、裁判官の審判により離婚を成立させるものです。</p>
                            <p>夫婦の意思とは関係なく、<span class="red">家庭裁判所によって強制的に離婚を成立させることになります。</span></p>
                            <p>審判で離婚となった場合でも、当事者のどちらかが審判の告知を受けた2週間以内に意義申し立てをすると審判の効力は失われてしまうため、あまり利用されない方法です。</p>
                          </td>
                        </tr>
                        <tr>
                          <th>4.裁判離婚</th>
                          <td>
                            <p>協議離婚、調停離婚、審判離婚を行なっても離婚成立に至らなかった場合、夫婦の一方から裁判所に訴えを提起しすることができます。</p>
                            <p>ただし、訴訟を起こすには家庭裁判所での離婚調停が不成立になっていることが原則です。また、離婚訴訟が認められるには、<span class="red">民法で定められた離婚原因を立証しなければなりません。</span></p>
                            <p>裁判官から離婚の判決が出れば、たとえ夫婦の合意がなくても強制的に離婚が成立となります。</p>
                            <dl class="unit01">
                              <dt class="navy bold">●裁判で「離婚原因」として認められるもの</dt>
                              <dd>・不貞行為があった場合</dd>
                              <dd>・悪意で遺棄された場合</dd>
                              <dd>・3年以上、生死が不明な場合</dd>
                              <dd>・強度の精神病を患われた場合</dd>
                              <dd>・その他、婚姻を継続しがたい事由があるとき</dd>
                            </dl>
                          </td>
                        </tr>
                      </table>
                    </section>
                  </div>
                </section>

                <section>
                  <h3 id="h302" class="h3ttl">親権</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">親権とは？</h4>
                      <div class="txt_area01">
                        <p>親権とは、未成年の子どもの養育、身上監護、財産管理に関する法律権利を行なう権利です。</p>
                        <p>婚姻中であれば、夫婦の双方が親権者になりますが、<span class="red">離婚後は夫婦どちらか一方の単独親権となります。</span></p>
                        <p>未成年の子どもがいる場合は親権者が決まっていないと離婚ができないため、話し合いがまとまらない場合は、調停または裁判にて親権を決める必要があります。</p>
                      </div><!-- .txt_area01 -->
                    </section>

                    <section>
                      <h4 class="h4ttl">親権者を定める基準</h4>
                      <div class="sltxt_area02">
                        <p>裁判所は、夫婦や子供の事情を考慮して、下記のような要素を基準にどちらが親権者にふさわしいか判断します。</p>
                      </div><!-- .sltxt_area02 -->
                      <dl class="unit02">
                        <dt>●母親優先・・・</dt>
                        <dd>乳幼児についてはの監護を優先させる</dd>
                        <dt>●経済状況・・・</dt>
                        <dd>居住環境、養育費・生活費を確保できるか</dd>
                        <dt>●監護能力継続性・・・</dt>
                        <dd>現実に子どもを監護しているものを優先させる</dd>
                        <dt>●子の意思の尊重・・・</dt>
                        <dd>15歳以上の子については本人の意見聴取が必要</dd>
                        <dt>●兄弟姉妹関係の尊重・・・</dt>
                        <dd>子の人格形成に深刻な影響を及ぼすため</dd>
                      </dl>

                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h303" class="h3ttl">養育費</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">養育費とは？</h4>
                      <div class="sltxt_area01 left">
                        <p>養育費は、子育てをするのに必要な費用です。</p>
                        <p>衣食住にかかる経費や教育費、医療費など、社会人として自立するまでに必要となるすべての費用が含まれています。</p>
                        <p>離婚の際に子どもの親権をどちらにするか決めますが、親権者とならなかった親にも扶養の義務はあり、親権者となった親に対して養育費を支払うことになります。これは子ども権利ですので<span class="red">権の有無に関わらず、支払いを拒否することはできません。</span></p>
                        <p>病気や失業などにより支払いが難しくなった場合は、当事者間で話し合いをして、養育費の増減をさせることが可能です。</p>
                        <p>話がまとまらない場合は、調停を申し立て、相当と考えられる金額を決める必要があります。</p>
                      </div><!-- sltxt_area01 -->
                      <p class="right"><img src="../assets/img/service/divorce/img02.jpg" width="250" height="180" alt="養育費の写真"></p>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h304" class="h3ttl">財産分与</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">財産分与とは？</h4>
                      <div class="txt_area01">
                        <p>財産分与は、婚姻期間中に夫婦で築いた財産を清算して分けることです。</p>
                        <p>離婚を急いでしまい、十分な話し合いをせずに離婚に至ってしまうケースがありますが、新しい生活を歩んでいくためにも財産分与の金額をきちんと決めておきましょう。</p>
                        <p>また、財産分与の請求は<span class="red">離婚から2年経過すると、請求権が消滅してしまうので注意が必要です。</span></p>
                      </div><!-- txt_area01 -->

                      <section>
                        <h5 class="h5ttl bold">対象となる財産</h5>
                        <div class="txt_area01">
                          <p><span class="bold">・共有財産・・・</span>マイホームなどの双方の協力によって築いた共有名義の財産</p>
                          <p><span class="bold">・実質的共有財産・・・</span>預貯金、株、不動産など双方の協力によって築いたが、一方の名義になっている財産</p>
                          <p>※住宅ローンや教育ローンなどのマイナスの財産（債務）も財産分与の対象となります。</p>
                        </div><!-- .txt_area01 -->
                      </section>

                      <section>
                        <h5 class="h5ttl bold">対象とならない財産</h5>
                        <div class="txt_area02">
                          <p><span class="bold">・特有財産・・・</span>婚姻前に貯めた預貯金、婚姻前に購入した家具などの財産</p>
                        </div><!-- .txt_area01 -->
                      </section>

                    </section>
                    <section>
                      <h4 class="h4ttl">財産分与の種類</h4>
                      <table>
                        <tr>
                          <th>清算的財産分与</th>
                          <td>
                            <p>通常の財産分与の方法で、婚姻中に双方の協力によって築いた財産は共有財産と考え、それぞれの貢献度に応じて公平に分配するものです。</p>
                            <p>割合や金額は様々ですが、原則として５：５で分配されることが多くなっています。</p>
                          </td>
                        </tr>
                        <tr>
                          <th>扶養的財産分与</th>
                          <td>
                            <p>離婚後に夫婦の一方の生活が困窮してしまうと考えられる場合に、生活を補助するために扶養目的で分与される財産です。</p>
                            <p>経済的に厳しい立場の配偶者に、2～3年間を目途に生活費が支払われます。</p>
                          </td>
                        </tr>
                        <tr>
                          <th>慰謝料的財産分与</th>
                          <td>本来、慰謝料と財産分与は別々に取り決めるものですが、財産分与の中に慰謝料を含めて支払われる場合、慰謝料的財産分与と呼ばれています。</td>
                        </tr>
                      </table>
                    </section>
                  </div>
                </section>

                <section>
                  <h3 id="h305" class="h3ttl">慰謝料請求</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">慰謝料とは？</h4>
                      <div class="sec_inner01">
                        <div class="txt_area01">
                          <p>離婚における「慰謝料」とは、離婚によって被る精神的苦痛に対する損害賠償金のことです。</p>
                          <p>離婚の原因をつくった<span class="red">有責配偶者に対して、精神的な被害を受けた配偶者が慰謝料を請求することができます。</span></p>
                          <p>なお、慰謝料が認められるのは相手側の不貞行為やDV（暴力）などの違法行為があった場合のみとなり、単なる性格の不一致や価値観の違いでは請求ができません。</p>
                          <p>慰謝料の請求が認められるかどうかの判断は難しいので、一度弁護士に相談していただくことをおすすめします。</p>
                        </div><!-- .txt_area01 -->

                        <div class="sltxt_area01 left">
                          <section>
                            <h5 class="h5ttl">●慰謝料を請求できるケース</h5>
                            <div class="txt_area01">
                              <p>・不倫・浮気などの不貞行為があった場合</p>
                              <p>・配偶者に対する暴力行為があった場合</p>
                              <p>・生活費を渡さないなどの婚姻生活維持への不協力</p>
                              <p>・通常の性的交渉の拒否をする場合</p>
                            </div><!-- txt_area01 -->
                          </section>

                          <section>
                            <h5 class="h5ttl">●慰謝料を請求できるケース</h5>
                            <p>・相手側が離婚の原因と言えない場合</p>
                            <p>・お互いに離婚原因の責任がある場合</p>
                            <p>・価値観の違いなど離婚原因に違法性がない場合</p>
                          </section>
                        </div><!-- .sltxt_area01 -->
                        <p class="right"><img src="../assets/img/service/divorce/img03.jpg" width="250" height="180" alt="慰謝料請求の写真"></p>
                      </div><!-- .sec_inner01 -->
                    </section>

                    <section>
                      <h4 class="h4ttl">慰謝料の金額</h4>
                      <div class="txt_area01">
                        <p>慰謝料の金額としては、200～300万円程度が相場となっています。</p>
                        <p>500万円以上の高額となるケースはほどんどなく、事情や責任の程度などにより総合的に判断されます。</p>
                      </div><!-- .txt_area01 -->

                      <section>
                        <h5 class="h5ttl">●主な算定基準</h5>
                        <ul class="santei_list">
                          <li>・離婚原因となった違法行為の責任の程度</li>
                          <li>・社会的地位や支払い能力</li>
                          <li>・精神的苦痛の程度</li>
                          <li>・請求者の経済的自立能力</li>
                          <li>・婚姻期間や年齢</li>
                          <li>・請求者側の責任の有無や程度</li>
                          <li>・未成年の子どもの有無</li>
                          <li>・財産分与による経済的充足の有無&nbsp;&nbsp;&nbsp;・・・など</li>
                        </ul>
                      </section>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h306" class="h3ttl">婚姻費用の分担請求</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">婚姻費用の分担請求とは？</h4>
                      <div class="txt_area01">
                        <p>婚姻費用は、夫婦や子どもの生活費などの婚姻生活を維持するために必要な費用です 。</p>
                        <p>離婚についての話し合いや裁判の手続きを行なっている間も、法律上は夫婦に変わりありません。</p>
                        <p>たとえ別居中であったとしても、お互いに生活を助けあう義務があります。</p>
                        <p>夫に安定した収入があり、妻の収入が少ない場合は、夫が妻へ生活費を支払わなければなりません。</p>
                        <p>別居してから相手が生活費を入れてくれないなどの場合は、きちんと請求しましょう。</p>
                        <p>お互いの生活レベルが同等になるよう、<span class="red">収入やその他の事情を考慮して、婚姻生活に必要な費用を分担する義務があります。</span></p>
                        <p>病気や失業などにより支払いが難しくなった場合は、当事者間で話し合いをして、養育費の増減をさせることが可能です。</p>
                        <p>婚姻費用の分担について、夫婦での話し合いがまとまらない場合は、家庭裁判所に調停を申し立てることができます。</p>
                      </div><!-- txt_area01 -->

                      <section>
                        <h5 class="h5ttl">●婚姻費用の例</h5>
                        <p>・日常の生活費、衣食住の生活費、医療費、交際費、費用分担請求の調停申立費用</p>
                      </section>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h307" class="h3ttl">離婚無効の裁判</h3>
                  <div class="sec_inner02">
                    <section>
                      <h4 class="h4ttl">離婚無効の裁判とは？</h4>
                      <div class="txt_area01">
                        <p>協議離婚（夫婦での話し合い）で離婚が成立するには、双方に離婚の意思があることが必要です。</p>
                        <p><span class="red">夫婦の一方に離婚の意思がないのに、相手に離婚届を勝手に提出されてしまった場合などは、本来無効となります。</span></p>
                        <p>しかし、離婚届を役所に提出して受理されてしまうと、戸籍に離婚した旨が記載されてしまいます。</p>
                        <p>戸籍を訂正するには、離婚が無効であることを主張して、家庭裁判所に離婚無効の調停を申し立てる必要があります。</p>
                      </div><!-- txt_area01 -->

                      <section>
                        <h5 class="h5ttl">●離婚不受理申請</h5>
                        <p>協議離婚無効確認調停を申し立てると、長期間の裁判を強いられることになります。</p>
                        <p>相手から一方的に離婚を切り出されたり、離婚届に署名捺印をしてしまったが後に離婚の意思がなくなった場合などは、離婚不受理申請をすることをおすすめします。</p>
                        <p>この手続きをしておけば離婚届を勝手に提出されても、役所で離婚届の受理はされません。</p>
                      </section>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 class="h3ttl">その他離婚問題</h3>
                  <p>上記の他、離婚問題に関するお悩みやお困りのことがございましたらお気軽にご相談ください。</p>
                  <p>実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。</p>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>

jade/service/divorce.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '離婚問題'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/divorce.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./debt.html") 借金問題
              li
                a(href="./work.html") 労働問題
              li
                a(href="./") 離婚問題
                ul.sli_low
                  li
                    a(href="#h301") 離婚の種類
                  li
                    a(href="#h302") 親権
                  li
                    a(href="#h303") 教育費
                  li
                    a(href="#h304") 財産分与
                  li
                    a(href="#h305") 慰謝料請求
                  li
                    a(href="#h306") 婚姻費用の分担請求
                  li
                    a(href="#h307") 離婚無効の裁判
              li
                a(href="./corporate-law.html") 企業法務
              li
                a(href="./general-law.html") 一般法律
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #divorce.service_low.main.right
          section
            #section01.section
              h2.h2ttl #{page_title}
              .sec_inner01
                .sltxt_area01.left
                  p 現在、日本では協議離婚が圧倒的に多く、夫婦間で離婚に関する協議が整わない場合は、家庭裁判所の調停による離婚や、裁判による離婚もあります。
                  p 離婚問題において話し合われる内容は、離婚そのものだけでなく、子供に関する親権・養育費・面接交渉、資産・負債に関する財産分与、離婚原因を作出した相手方に対する慰謝料と多岐にわたります。
                  p 当事者間で離婚については合意ができたとしても、子供の問題について解決しなかったり、適切な養育費・慰謝料というのも一律に決めがたいものです。
                <!-- .sltxt_area01 -->
                p.right
                  <img src="../assets/img/service/divorce/img01.jpg" width="250" height="170" alt="離婚問題の写真">
              <!-- .sec_inner01 -->
              !='\n'

              section
                h3#h301.h3ttl 離婚の種類
                .sec_inner02
                  section
                    h4.h4ttl 4つの離婚の方法
                    table
                      tr
                        th 1.協議離婚
                        td
                          p 夫婦間の話し合いで離婚に合意し、役所窓口に離婚届を提出するものです。
                          p 日本の離婚の90％はこの協議離婚で成立しています。
                          p 協議離婚の場合、
                            span.red 成年の子どもがいる場合は「親権者」が決まっていないと離婚ができません。
                          p また、養育費、財産分与、慰謝料なども夫婦での話し合いで決めることになります。
                          p 離婚後にトラブルにならないよう、取り決めた内容は書面等にまとめておくと良いでしょう。
                      tr
                        th 2.調停離婚
                        td
                          p 夫婦の話し合いがまとまらない場合、家庭裁判所に調停の申し立てをして調停委員を交えて話し合いをします。
                          p 調停委員が両当事者の話を聞き、専門的な判断やアドバイスをしながら話し合いを進めます。
                          p 離婚調停の結果、
                            span.red 夫婦で離婚の合意ができれば調停調書が作成され、離婚が成立します。
                          p あくまでも調停委員を交えた話し合いなので、夫婦が合意に至らなければ、協議離婚と同じく離婚は成立しません。
                      tr
                        th 3.審判離婚
                        td
                          p 離婚調停で夫婦の話がまとまらず「調停不調」になった場合に、裁判官の審判により離婚を成立させるものです。
                          p 夫婦の意思とは関係なく、
                            span.red 家庭裁判所によって強制的に離婚を成立させることになります。
                          p 審判で離婚となった場合でも、当事者のどちらかが審判の告知を受けた2週間以内に意義申し立てをすると審判の効力は失われてしまうため、あまり利用されない方法です。
                      tr
                        th 4.裁判離婚
                        td
                          p 協議離婚、調停離婚、審判離婚を行なっても離婚成立に至らなかった場合、夫婦の一方から裁判所に訴えを提起しすることができます。
                          p ただし、訴訟を起こすには家庭裁判所での離婚調停が不成立になっていることが原則です。また、離婚訴訟が認められるには、
                            span.red 民法で定められた離婚原因を立証しなければなりません。
                          p 裁判官から離婚の判決が出れば、たとえ夫婦の合意がなくても強制的に離婚が成立となります。
                          dl.unit01
                            dt.navy.bold ●裁判で「離婚原因」として認められるもの
                            dd ・不貞行為があった場合
                            dd ・悪意で遺棄された場合
                            dd ・3年以上、生死が不明な場合
                            dd ・強度の精神病を患われた場合
                            dd ・その他、婚姻を継続しがたい事由があるとき
              !='\n'

              section
                h3#h302.h3ttl 親権
                .sec_inner02
                  section
                    h4.h4ttl 親権とは？
                    .txt_area01
                      p 親権とは、未成年の子どもの養育、身上監護、財産管理に関する法律権利を行なう権利です。
                      p 婚姻中であれば、夫婦の双方が親権者になりますが、
                        span.red 離婚後は夫婦どちらか一方の単独親権となります。
                      p 未成年の子どもがいる場合は親権者が決まっていないと離婚ができないため、話し合いがまとまらない場合は、調停または裁判にて親権を決める必要があります。
                    <!-- .txt_area01 -->
                  !='\n'

                  section
                    h4.h4ttl 親権者を定める基準
                    .sltxt_area02
                      p 裁判所は、夫婦や子供の事情を考慮して、下記のような要素を基準にどちらが親権者にふさわしいか判断します。
                    <!-- .sltxt_area02 -->
                    dl.unit02
                      dt ●母親優先・・・
                      dd 乳幼児についてはの監護を優先させる
                      dt ●経済状況・・・
                      dd 居住環境、養育費・生活費を確保できるか
                      dt ●監護能力継続性・・・
                      dd 現実に子どもを監護しているものを優先させる
                      dt ●子の意思の尊重・・・
                      dd 15歳以上の子については本人の意見聴取が必要
                      dt ●兄弟姉妹関係の尊重・・・
                      dd 子の人格形成に深刻な影響を及ぼすため
                    !='\n'
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h303.h3ttl 養育費
                .sec_inner02
                  section
                    h4.h4ttl 養育費とは？
                    .sltxt_area01.left
                      p 養育費は、子育てをするのに必要な費用です。
                      p 衣食住にかかる経費や教育費、医療費など、社会人として自立するまでに必要となるすべての費用が含まれています。
                      p 離婚の際に子どもの親権をどちらにするか決めますが、親権者とならなかった親にも扶養の義務はあり、親権者となった親に対して養育費を支払うことになります。これは子ども権利ですので
                        span.red 権の有無に関わらず、支払いを拒否することはできません。
                      p 病気や失業などにより支払いが難しくなった場合は、当事者間で話し合いをして、養育費の増減をさせることが可能です。
                      p 話がまとまらない場合は、調停を申し立て、相当と考えられる金額を決める必要があります。
                    <!-- sltxt_area01 -->
                    p.right
                      <img src="../assets/img/service/divorce/img02.jpg" width="250" height="180" alt="養育費の写真">
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h304.h3ttl 財産分与
                .sec_inner02
                  section
                    h4.h4ttl 財産分与とは？
                    .txt_area01
                      p 財産分与は、婚姻期間中に夫婦で築いた財産を清算して分けることです。
                      p 離婚を急いでしまい、十分な話し合いをせずに離婚に至ってしまうケースがありますが、新しい生活を歩んでいくためにも財産分与の金額をきちんと決めておきましょう。
                      p また、財産分与の請求は
                        span.red 離婚から2年経過すると、請求権が消滅してしまうので注意が必要です。
                    <!-- txt_area01 -->
                    !='\n'

                    section
                      h5.h5ttl.bold 対象となる財産
                      .txt_area01
                        p
                          span.bold ・共有財産・・・
                          |マイホームなどの双方の協力によって築いた共有名義の財産
                        p
                          span.bold ・実質的共有財産・・・
                          |預貯金、株、不動産など双方の協力によって築いたが、一方の名義になっている財産
                        p ※住宅ローンや教育ローンなどのマイナスの財産（債務）も財産分与の対象となります。
                      <!-- .txt_area01 -->
                    !='\n'

                    section
                      h5.h5ttl.bold 対象とならない財産
                      .txt_area02
                        p
                          span.bold ・特有財産・・・
                          |婚姻前に貯めた預貯金、婚姻前に購入した家具などの財産
                      <!-- .txt_area01 -->
                    !='\n'

                  section
                    h4.h4ttl 財産分与の種類
                    table
                      tr
                        th 清算的財産分与
                        td
                          p 通常の財産分与の方法で、婚姻中に双方の協力によって築いた財産は共有財産と考え、それぞれの貢献度に応じて公平に分配するものです。
                          p 割合や金額は様々ですが、原則として５：５で分配されることが多くなっています。
                      tr
                        th 扶養的財産分与
                        td
                          p 離婚後に夫婦の一方の生活が困窮してしまうと考えられる場合に、生活を補助するために扶養目的で分与される財産です。
                          p 経済的に厳しい立場の配偶者に、2～3年間を目途に生活費が支払われます。
                      tr
                        th 慰謝料的財産分与
                        td 本来、慰謝料と財産分与は別々に取り決めるものですが、財産分与の中に慰謝料を含めて支払われる場合、慰謝料的財産分与と呼ばれています。
              !='\n'

              section
                h3#h305.h3ttl 慰謝料請求
                .sec_inner02
                  section
                    h4.h4ttl 慰謝料とは？
                    .sec_inner01
                      .txt_area01
                        p 離婚における「慰謝料」とは、離婚によって被る精神的苦痛に対する損害賠償金のことです。
                        p 離婚の原因をつくった
                          span.red 有責配偶者に対して、精神的な被害を受けた配偶者が慰謝料を請求することができます。
                        p なお、慰謝料が認められるのは相手側の不貞行為やDV（暴力）などの違法行為があった場合のみとなり、単なる性格の不一致や価値観の違いでは請求ができません。
                        p 慰謝料の請求が認められるかどうかの判断は難しいので、一度弁護士に相談していただくことをおすすめします。
                      <!-- .txt_area01 -->
                      !='\n'

                      .sltxt_area01.left
                        section
                          h5.h5ttl ●慰謝料を請求できるケース
                          .txt_area01
                            p ・不倫・浮気などの不貞行為があった場合
                            p ・配偶者に対する暴力行為があった場合
                            p ・生活費を渡さないなどの婚姻生活維持への不協力
                            p ・通常の性的交渉の拒否をする場合
                          <!-- txt_area01 -->
                        !='\n'

                        section
                          h5.h5ttl ●慰謝料を請求できるケース
                          p ・相手側が離婚の原因と言えない場合
                          p ・お互いに離婚原因の責任がある場合
                          p ・価値観の違いなど離婚原因に違法性がない場合
                      <!-- .sltxt_area01 -->
                      p.right
                        <img src="../assets/img/service/divorce/img03.jpg" width="250" height="180" alt="慰謝料請求の写真">
                    <!-- .sec_inner01 -->
                  !='\n'

                  section
                    h4.h4ttl 慰謝料の金額
                    .txt_area01
                      p 慰謝料の金額としては、200～300万円程度が相場となっています。
                      p 500万円以上の高額となるケースはほどんどなく、事情や責任の程度などにより総合的に判断されます。
                    <!-- .txt_area01 -->
                    !='\n'

                    section
                      h5.h5ttl ●主な算定基準
                      ul.santei_list
                        li ・離婚原因となった違法行為の責任の程度
                        li ・社会的地位や支払い能力
                        li ・精神的苦痛の程度
                        li ・請求者の経済的自立能力
                        li ・婚姻期間や年齢
                        li ・請求者側の責任の有無や程度
                        li ・未成年の子どもの有無
                        li ・財産分与による経済的充足の有無&nbsp;&nbsp;&nbsp;・・・など
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h306.h3ttl 婚姻費用の分担請求
                .sec_inner02
                  section
                    h4.h4ttl 婚姻費用の分担請求とは？
                    .txt_area01
                      p 婚姻費用は、夫婦や子どもの生活費などの婚姻生活を維持するために必要な費用です 。
                      p 離婚についての話し合いや裁判の手続きを行なっている間も、法律上は夫婦に変わりありません。
                      p たとえ別居中であったとしても、お互いに生活を助けあう義務があります。
                      p 夫に安定した収入があり、妻の収入が少ない場合は、夫が妻へ生活費を支払わなければなりません。
                      p 別居してから相手が生活費を入れてくれないなどの場合は、きちんと請求しましょう。
                      p お互いの生活レベルが同等になるよう、
                        span.red 収入やその他の事情を考慮して、婚姻生活に必要な費用を分担する義務があります。
                      p 病気や失業などにより支払いが難しくなった場合は、当事者間で話し合いをして、養育費の増減をさせることが可能です。
                      p 婚姻費用の分担について、夫婦での話し合いがまとまらない場合は、家庭裁判所に調停を申し立てることができます。
                    <!-- txt_area01 -->
                    !='\n'

                    section
                      h5.h5ttl ●婚姻費用の例
                      p ・日常の生活費、衣食住の生活費、医療費、交際費、費用分担請求の調停申立費用
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h307.h3ttl 離婚無効の裁判
                .sec_inner02
                  section
                    h4.h4ttl 離婚無効の裁判とは？
                    .txt_area01
                      p 協議離婚（夫婦での話し合い）で離婚が成立するには、双方に離婚の意思があることが必要です。
                      p
                        span.red 夫婦の一方に離婚の意思がないのに、相手に離婚届を勝手に提出されてしまった場合などは、本来無効となります。
                      p しかし、離婚届を役所に提出して受理されてしまうと、戸籍に離婚した旨が記載されてしまいます。
                      p 戸籍を訂正するには、離婚が無効であることを主張して、家庭裁判所に離婚無効の調停を申し立てる必要があります。
                    <!-- txt_area01 -->
                    !='\n'

                    section
                      h5.h5ttl ●離婚不受理申請
                      p 協議離婚無効確認調停を申し立てると、長期間の裁判を強いられることになります。
                      p 相手から一方的に離婚を切り出されたり、離婚届に署名捺印をしてしまったが後に離婚の意思がなくなった場合などは、離婚不受理申請をすることをおすすめします。
                      p この手続きをしておけば離婚届を勝手に提出されても、役所で離婚届の受理はされません。
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3.h3ttl その他離婚問題
                p 上記の他、離婚問題に関するお悩みやお困りのことがございましたらお気軽にご相談ください。
                p 実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
