_html/service/general-law.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="一般法律 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="一般法律,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="一般法律 | 土谷総合法律事務所">
    <meta property="og:description" content="一般法律 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/service/general-law.html">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>一般法律 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="一般法律"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">一般法律</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="一般法律"></p>
              <ul class="sl_inner">
                <li><a href="./debt.html">借金問題</a></li>
                <li><a href="./work.html">労働問題</a></li>
                <li><a href="./divorce.html">離婚問題</a></li>
                <li><a href="./corporate-law.html">企業法務</a></li>
                <li><a href="./">一般法律</a>
                  <ul class="sli_low">
                    <li><a href="#h301">交通事故</a></li>
                    <li><a href="#h302">相続人問題</a></li>
                    <li><a href="#h303">逮捕</a></li>
                    <li><a href="#h304">不動産トラブル</a></li>
                    <li><a href="#h305">金銭トラブル</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="general-law" class="service_low main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">一般法律</h2>
                <div class="txt_area01">
                  <p>当事務所では、債権回収、交通事故、遺産相続、不動産関係、刑事事件等、幅広い問題に対応しております。</p>
                  <p>トラブルの内容や状況に応じて、ご依頼者様の立場になって的確なアドバイス・対処をいたします。</p>
                  <p>示談交渉や調停・訴訟などの裁判手続きなどもお任せください。</p>
                </div><!-- .txt_area01 -->

                <section>
                  <h3 id="h301" class="h3ttl">交通事故</h3>
                  <div class="sec_inner02">
                    <div class="sec_inner01">
                      <div class="sltxt_area01 left">
                        <p>交通事故の被害者は加害者に対し、損害賠償請求ができます。</p>
                        <p>自動車保有者は自賠責保険に加入することが義務づけられているので、被害者は加害者加入の自賠責保険に対して被害者請求手続きが可能です。</p>
                        <p>また、通常は加害者が自賠責保険だけでなく任意保険にも加入しているので、損害賠償については任意保険会社の担当者と示談交渉することになりますが、<span class="red">任意保険会社の損害賠償基準は裁判基準より低額のケースが多いです。</span></p>
                        <p>任意保険会社から示談案が提出されたとしても、安易に署名せずに、まずは弁護士にご相談ください。</p>
                        <p>弁護士による交渉あるいは裁判によって、示談額が上がる可能性がります。</p>
                      </div><!-- .sltxt_area01 -->
                      <p class="right"><img src="../assets/img/service/general-law/img01.jpg" width="250" height="180" alt="交通事故の写真"></p>
                    </div><!-- .sec_inner01 -->
                    <section>
                      <h4 class="h4ttl">手続きのポイント</h4>
                      <p>事故を起こしてしまったら、保険会社にすべて任せておけば安心と思っている方が多くいらっしゃいますが、任意保険会社も無限に支払原資があるわけではないので、なるべく支払を抑えようとします。</p>
                      <p>そのため、任意保険基準が裁判基準よりも低額になるケースで和解をしようとしてくることが多々あります。</p>
                      <p>任意保険会社から提示された金額を公正なものと安易に考えないことが大切です。</p>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h302" class="h3ttl">相続人問題</h3>
                  <div class="sec_inner02">
                    <div class="sec_inner01">
                      <div class="sltxt_area01 left">
                        <p>相続する権利を持つ者（法定相続人）は民法で規定されており、相続が開始したからと言って親族の誰でもが法定相続人になれるわけではありません。</p>
                        <p>法定相続人として認められる者は、<span class="red">被相続人（死亡者）の配偶者（内縁は不可）及び被相続人の血族である子（養子も含む）、親、兄弟姉妹となります。</span></p>
                        <p>当事務所は、遺産分割を主として相続問題に関して永年培われた深い知識と経験を持っております。</p>
                        <p>相続問題の調停、訴訟に限らず、遺留分減殺請求権を考慮した遺言書の活用、相続税対策等のご相談も承っておりますので、お気軽にご相談ください。</p>
                      </div><!-- .sltxt_area01 -->
                      <p class="right"><img src="../assets/img/service/general-law/img02.jpg" width="250" height="180" alt="相続人問題の写真"></p>
                    </div><!-- .sec_inner01 -->
                    <section>
                      <h4 class="h4ttl">相続人の優先順位</h4>
                      <p>遺言状等がない場合、法定相続人の優先順位は法律で決められています。</p>
                      <p>配偶者は常に法定相続人となり、子、親、兄弟姉妹については、それぞれ第1順位→子、第2順位→親、第3順位→兄弟姉妹の順位になり、上位の者が存在する場合は後順位の者は法定相続人にはなれません。</p>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h303" class="h3ttl">逮捕</h3>
                  <div class="sec_inner02">
                    <div class="sec_inner01">
                      <div class="sltxt_area01 left">
                        <p>逮捕されると、最長で23日間留置場に留置され、取調べを受ける事になります。その間に警察官・検察官が被疑者（逮捕者）の供述を元に供述調書を制作します。</p>
                        <p>もし、ご自身やあなたの大切な家族が逮捕されてしまったら、<span class="red">事実と異なる供述調書が制作されるのを防ぐため、直ちに弁護士に接見依頼をしましょう。</span></p>
                        <p>もし逮捕されてしまって、弁護士にも依頼をしなければ、たった一人で警察官や検察官からの尋問に対応しなければなりません。</p>
                        <p>警察官や検察官は言ってみれば取り調べのプロですが、それに比べて被疑者は刑事手続きの素人です。</p>
                        <p>弱い立場にある被疑者の人権を守るために、弁護士は全力を尽くします。</p>
                      </div><!-- .sltxt_area01 -->
                      <p class="right"><img src="../assets/img/service/general-law/img03.jpg" width="250" height="180" alt="逮捕の写真"></p>
                    </div><!-- .sec_inner01 -->
                    <section>
                      <h4 class="h4ttl">弁護士に依頼するメリット</h4>
                      <p>憲法により被告人は弁護士依頼権が保証されています。</p>
                      <p>弁護士に接見依頼をすると、接見禁止の処分がなされている場合や夜間・土日祝日でも接見が可能です。</p>
                      <p>また、一般の方が接見する場合は警察官の立会いが必要ですが、弁護士が接見する場合は警察官の立会いがありません。</p>
                      <p>弁護士と接見し信頼関係が得られた場合は、弁護士を弁護人に選任することができます。</p>
                    </section>
                  </div><!-- .sec_inner02 -->
                </section>

                <section>
                  <h3 id="h304" class="h3ttl">不動産トラブル</h3>
                  <div class="sec_inner03">
                    <div class="sltxt_area01 left">
                      <p>不動産とは、土地やそれに定着物する建物や立ち木などのことです。</p>
                      <p>家賃滞納、立ち退き紛争、不動産売買、農地転用、建築紛争、都市計画規制など、不動産にまつわる紛争やトラブルは数多くあり、これまでも多数のご相談やご依頼をいただいております。</p>
                      <p>当事務所では、個人の方はもちろん、不動産オーナー・貸主の方、仲介業者の方、販売業者の方など、不動産に関わる多くの方からのご相談に対応しております。</p>
                      <p>権利関係を公示する「登記」の問題や、利用関係に関する「借地・借家」の問題などあらゆる問題に迅速に処理します。</p><!-- .sltxt_area01 -->
                    </div>
                    <p class="right"><img src="../assets/img/service/general-law/img04.jpg" width="250" height="180" alt="不動産トラブルの写真"></p>
                  </div><!-- .sec_inner03 -->
                </section>

                <section>
                  <h3 id="h305" class="h3ttl">金銭トラブル</h3>
                  <div class="sec_inner03">
                    <div class="sltxt_area01 left">
                      <p>金銭トラブルは、知人や家族間でのお金の貸し借りなどによって生じる、とても身近な問題です。</p>
                      <p>「お金を貸したのに返してくれない」「貸していた相手と連絡が取れなくなった」「口頭のみの返済約束で借用書がない」など、本来は信頼関係で済むような約束事も、お金が絡む事によって思わぬトラブルに発展することが多々あります。</p>
                      <p>このようなトラブルは弁護士が関与することによって、あなたにとって有利な状況になり得ることもあります。</p>
                      <p>お困りのことがございましたら、まずは弁護士にご相談ください。</p><!-- .sltxt_area01 -->
                    </div>
                    <p class="right"><img src="../assets/img/service/general-law/img05.jpg" width="250" height="180" alt="金銭トラブルの写真"></p>
                  </div><!-- .sec_inner03 -->
                </section>

                <section>
                  <h3 class="h3ttl">その他民事事件</h3>
                  <p>上記の他、損害賠償請求事件（各種契約に基づく紛争等)、人事訴訟関係（訴訟・慰謝料）、任意整理、破産申立など、お困りのことがございましたらお気軽にご相談ください。</p>
                  <p>実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。</p>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>

jade/service/general-law.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '一般法律'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/general-law.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./debt.html") 借金問題
              li
                a(href="./work.html") 労働問題
              li
                a(href="./divorce.html") 離婚問題
              li
                a(href="./corporate-law.html") 企業法務
              li
                a(href="./") 一般法律
                ul.sli_low
                  li
                    a(href="#h301") 交通事故
                  li
                    a(href="#h302") 相続人問題
                  li
                    a(href="#h303") 逮捕
                  li
                    a(href="#h304") 不動産トラブル
                  li
                    a(href="#h305") 金銭トラブル
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #general-law.service_low.main.right
          section
            #section01.section
              h2.h2ttl #{page_title}
              .txt_area01
                p 当事務所では、債権回収、交通事故、遺産相続、不動産関係、刑事事件等、幅広い問題に対応しております。
                p トラブルの内容や状況に応じて、ご依頼者様の立場になって的確なアドバイス・対処をいたします。
                p 示談交渉や調停・訴訟などの裁判手続きなどもお任せください。
              <!-- .txt_area01 -->
              !='\n'

              section
                h3#h301.h3ttl 交通事故
                .sec_inner02
                  .sec_inner01
                    .sltxt_area01.left
                      p 交通事故の被害者は加害者に対し、損害賠償請求ができます。
                      p 自動車保有者は自賠責保険に加入することが義務づけられているので、被害者は加害者加入の自賠責保険に対して被害者請求手続きが可能です。
                      p また、通常は加害者が自賠責保険だけでなく任意保険にも加入しているので、損害賠償については任意保険会社の担当者と示談交渉することになりますが、
                        span.red 任意保険会社の損害賠償基準は裁判基準より低額のケースが多いです。
                      p 任意保険会社から示談案が提出されたとしても、安易に署名せずに、まずは弁護士にご相談ください。
                      p 弁護士による交渉あるいは裁判によって、示談額が上がる可能性がります。
                    <!-- .sltxt_area01 -->
                    p.right
                      <img src="../assets/img/service/general-law/img01.jpg" width="250" height="180" alt="交通事故の写真">
                  <!-- .sec_inner01 -->
                  section
                    h4.h4ttl 手続きのポイント
                    p 事故を起こしてしまったら、保険会社にすべて任せておけば安心と思っている方が多くいらっしゃいますが、任意保険会社も無限に支払原資があるわけではないので、なるべく支払を抑えようとします。
                    p そのため、任意保険基準が裁判基準よりも低額になるケースで和解をしようとしてくることが多々あります。
                    p 任意保険会社から提示された金額を公正なものと安易に考えないことが大切です。
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h302.h3ttl 相続人問題
                .sec_inner02
                  .sec_inner01
                    .sltxt_area01.left
                      p 相続する権利を持つ者（法定相続人）は民法で規定されており、相続が開始したからと言って親族の誰でもが法定相続人になれるわけではありません。
                      p 法定相続人として認められる者は、
                        span.red 被相続人（死亡者）の配偶者（内縁は不可）及び被相続人の血族である子（養子も含む）、親、兄弟姉妹となります。
                      p 当事務所は、遺産分割を主として相続問題に関して永年培われた深い知識と経験を持っております。
                      p 相続問題の調停、訴訟に限らず、遺留分減殺請求権を考慮した遺言書の活用、相続税対策等のご相談も承っておりますので、お気軽にご相談ください。
                    <!-- .sltxt_area01 -->
                    p.right
                      <img src="../assets/img/service/general-law/img02.jpg" width="250" height="180" alt="相続人問題の写真">
                  <!-- .sec_inner01 -->
                  section
                    h4.h4ttl 相続人の優先順位
                    p 遺言状等がない場合、法定相続人の優先順位は法律で決められています。
                    p 配偶者は常に法定相続人となり、子、親、兄弟姉妹については、それぞれ第1順位→子、第2順位→親、第3順位→兄弟姉妹の順位になり、上位の者が存在する場合は後順位の者は法定相続人にはなれません。
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h303.h3ttl 逮捕
                .sec_inner02
                  .sec_inner01
                    .sltxt_area01.left
                      p 逮捕されると、最長で23日間留置場に留置され、取調べを受ける事になります。その間に警察官・検察官が被疑者（逮捕者）の供述を元に供述調書を制作します。
                      p もし、ご自身やあなたの大切な家族が逮捕されてしまったら、
                        span.red 事実と異なる供述調書が制作されるのを防ぐため、直ちに弁護士に接見依頼をしましょう。
                      p もし逮捕されてしまって、弁護士にも依頼をしなければ、たった一人で警察官や検察官からの尋問に対応しなければなりません。
                      p 警察官や検察官は言ってみれば取り調べのプロですが、それに比べて被疑者は刑事手続きの素人です。
                      p 弱い立場にある被疑者の人権を守るために、弁護士は全力を尽くします。
                    <!-- .sltxt_area01 -->
                    p.right
                      <img src="../assets/img/service/general-law/img03.jpg" width="250" height="180" alt="逮捕の写真">
                  <!-- .sec_inner01 -->
                  section
                    h4.h4ttl 弁護士に依頼するメリット
                    p 憲法により被告人は弁護士依頼権が保証されています。
                    p 弁護士に接見依頼をすると、接見禁止の処分がなされている場合や夜間・土日祝日でも接見が可能です。
                    p また、一般の方が接見する場合は警察官の立会いが必要ですが、弁護士が接見する場合は警察官の立会いがありません。
                    p 弁護士と接見し信頼関係が得られた場合は、弁護士を弁護人に選任することができます。
                <!-- .sec_inner02 -->
              !='\n'

              section
                h3#h304.h3ttl 不動産トラブル
                .sec_inner03
                  .sltxt_area01.left
                    p 不動産とは、土地やそれに定着物する建物や立ち木などのことです。
                    p 家賃滞納、立ち退き紛争、不動産売買、農地転用、建築紛争、都市計画規制など、不動産にまつわる紛争やトラブルは数多くあり、これまでも多数のご相談やご依頼をいただいております。
                    p 当事務所では、個人の方はもちろん、不動産オーナー・貸主の方、仲介業者の方、販売業者の方など、不動産に関わる多くの方からのご相談に対応しております。
                    p 権利関係を公示する「登記」の問題や、利用関係に関する「借地・借家」の問題などあらゆる問題に迅速に処理します。
                    <!-- .sltxt_area01 -->
                  p.right
                    <img src="../assets/img/service/general-law/img04.jpg" width="250" height="180" alt="不動産トラブルの写真">
                <!-- .sec_inner03 -->
              !='\n'

              section
                h3#h305.h3ttl 金銭トラブル
                .sec_inner03
                  .sltxt_area01.left
                    p 金銭トラブルは、知人や家族間でのお金の貸し借りなどによって生じる、とても身近な問題です。
                    p 「お金を貸したのに返してくれない」「貸していた相手と連絡が取れなくなった」「口頭のみの返済約束で借用書がない」など、本来は信頼関係で済むような約束事も、お金が絡む事によって思わぬトラブルに発展することが多々あります。
                    p このようなトラブルは弁護士が関与することによって、あなたにとって有利な状況になり得ることもあります。
                    p お困りのことがございましたら、まずは弁護士にご相談ください。
                    <!-- .sltxt_area01 -->
                  p.right
                    <img src="../assets/img/service/general-law/img05.jpg" width="250" height="180" alt="金銭トラブルの写真">
                <!-- .sec_inner03 -->
              !='\n'

              section
                h3.h3ttl その他民事事件
                p 上記の他、損害賠償請求事件（各種契約に基づく紛争等)、人事訴訟関係（訴訟・慰謝料）、任意整理、破産申立など、お困りのことがございましたらお気軽にご相談ください。
                p 実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
