jade/service/index.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '業務のご案内'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./debt.html") 借金問題
              li
                a(href="./work.html") 労働問題
              li
                a(href="./divorce.html") 離婚問題
              li
                a(href="./corporate-law.html") 企業法務
              li
                a(href="./general-law.html") 一般法律
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #service.main.right
          section
            #section01.section
              h2.h2ttl 業務のご案内
              .txt_area01
                p 当事務所が取り扱っている主な業務内容をご案内します。
                p これまでの経験と知識でご依頼者様にとって最良な解決方法をご提案いたします。
              <!-- .txt_area -->
              !='\n'

              ul.srv_area
                li.srv_inner
                  section
                    h3#h3ttl01.h3ttl 借金問題
                    .unit
                      p.img
                        <img src="../assets/img/service/img01.jpg" width="335" height="130" alt="借金問題の写真">
                      p.txt 過払い金請求、任意整理、自己破産、民事再生等、円滑な生活再建策のご提案をいたします。まずは借金の取立てストップから始めましょう。
                      ul.list
                        li
                          a.ophv(href="./debt.html#h301") 過払い請求
                        li
                          a.ophv(href="./debt.html#h302") 任意整理
                        li
                          a.ophv(href="./debt.html#h303") 自己破産
                        li
                          a.ophv(href="./debt.html#h304") 民事再生
                        li
                          a.ophv(href="./debt.html#h305") 総量規制
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl02.h3ttl 労働問題
                    .unit
                      p.img
                        <img src="../assets/img/service/img02.jpg" width="335" height="130" alt="労働問題の写真">
                      p.txt 不当解雇、未払賃金・残業代請求等、的確なアドバイスと法的処理をいたします。残業代の請求権は2年で時効となりますのでお早めにご相談ください。
                      ul.list
                        li
                          a.ophv(href="./work.html#h301") 残業代請求
                        li
                          a.ophv(href="./work.html#h302") 不当解雇・退職勧奨
                        li
                          a.ophv(href="./work.html#h303") セクハラ・パワハラ
                        li
                          a.ophv(href="./work.html#h304") 労働災害関係
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl03.h3ttl 離婚問題
                    .unit
                      p.img
                        <img src="../assets/img/service/img03.jpg" width="335" height="130" alt="離婚問題の写真">
                      p.txt 離婚には慰謝料・財産分与・養育費・親権等、多くの法律問題が生じます。ご依頼者様の事情を考慮し、問題解決の為に適切なサポートをいたします。
                      ul.list
                        li
                          a.ophv(href="./divorce.html#h301") 親権
                        li
                          a.ophv(href="./divorce.html#h302") 教育費
                        li
                          a.ophv(href="./divorce.html#h303") 財産分与
                        li
                          a.ophv(href="./divorce.html#h304") 慰謝料請求
                        li
                          a.ophv(href="./divorce.html#h305") 婚姻費用の分担請求
                        li
                          a.ophv(href="./divorce.html#h306") 離婚無効の裁判
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl04.h3ttl 企業法務
                    .unit
                      p.img
                        <img src="../assets/img/service/img04.jpg" width="335" height="130" alt="企業法務の写真">
                      p.txt 企業が日々直面する様々な法律問題や各種契約等に関して、法的なアドバイスや法律文書の作成等、状況に応じて迅速かつ的確に対応いたします。
                      ul.list
                        li
                          a.ophv(href="./corporate-law.html#h301") 主な業務内容
                        li
                          a.ophv(href="./corporate-law.html#h302") 顧問契約について
                    <!-- .unit -->
                !='\n'

                li.srv_inner
                  section
                    h3#h3ttl05.h3ttl 一般法律
                    .unit
                      p.img
                        <img src="../assets/img/service/img05.jpg" width="335" height="130" alt="一般法律の写真">
                      p.txt 債権回収、交通事故、遺産相続、不動産関連、刑事事件等、トラブルの内容に応じて的確なアドバイスをいたします。裁判手続きもお任せください。
                      ul.list
                        li
                          a.ophv(href="./general-law.html#h301") 交通事故
                        li
                          a.ophv(href="./general-law.html#h302") 相続人問題
                        li
                          a.ophv(href="./general-law.html#h303") 逮捕
                        li
                          a.ophv(href="./general-law.html#h304") 不動産トラブル
                        li
                          a.ophv(href="./general-law.html#h305") 金銭トラブル
                    <!-- .unit -->
                !='\n'
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/service/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="業務のご案内 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="業務のご案内,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="業務のご案内 | 土谷総合法律事務所">
    <meta property="og:description" content="業務のご案内 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/service/">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>業務のご案内 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="業務のご案内"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">業務のご案内</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="業務のご案内"></p>
              <ul class="sl_inner">
                <li><a href="./debt.html">借金問題</a></li>
                <li><a href="./work.html">労働問題</a></li>
                <li><a href="./divorce.html">離婚問題</a></li>
                <li><a href="./corporate-law.html">企業法務</a></li>
                <li><a href="./general-law.html">一般法律</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="service" class="main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">業務のご案内</h2>
                <div class="txt_area01">
                  <p>当事務所が取り扱っている主な業務内容をご案内します。</p>
                  <p>これまでの経験と知識でご依頼者様にとって最良な解決方法をご提案いたします。</p>
                </div><!-- .txt_area -->

                <ul class="srv_area">
                  <li class="srv_inner">
                    <section>
                      <h3 id="h3ttl01" class="h3ttl">借金問題</h3>
                      <div class="unit">
                        <p class="img"><img src="../assets/img/service/img01.jpg" width="335" height="130" alt="借金問題の写真"></p>
                        <p class="txt">過払い金請求、任意整理、自己破産、民事再生等、円滑な生活再建策のご提案をいたします。まずは借金の取立てストップから始めましょう。</p>
                        <ul class="list">
                          <li><a href="./debt.html#h301" class="ophv">過払い請求</a></li>
                          <li><a href="./debt.html#h302" class="ophv">任意整理</a></li>
                          <li><a href="./debt.html#h303" class="ophv">自己破産</a></li>
                          <li><a href="./debt.html#h304" class="ophv">民事再生</a></li>
                          <li><a href="./debt.html#h305" class="ophv">総量規制</a></li>
                        </ul>
                      </div><!-- .unit -->
                    </section>
                  </li>

                  <li class="srv_inner">
                    <section>
                      <h3 id="h3ttl02" class="h3ttl">労働問題</h3>
                      <div class="unit">
                        <p class="img"><img src="../assets/img/service/img02.jpg" width="335" height="130" alt="労働問題の写真"></p>
                        <p class="txt">不当解雇、未払賃金・残業代請求等、的確なアドバイスと法的処理をいたします。残業代の請求権は2年で時効となりますのでお早めにご相談ください。</p>
                        <ul class="list">
                          <li><a href="./work.html#h301" class="ophv">残業代請求</a></li>
                          <li><a href="./work.html#h302" class="ophv">不当解雇・退職勧奨</a></li>
                          <li><a href="./work.html#h303" class="ophv">セクハラ・パワハラ</a></li>
                          <li><a href="./work.html#h304" class="ophv">労働災害関係</a></li>
                        </ul>
                      </div><!-- .unit -->
                    </section>
                  </li>

                  <li class="srv_inner">
                    <section>
                      <h3 id="h3ttl03" class="h3ttl">離婚問題</h3>
                      <div class="unit">
                        <p class="img"><img src="../assets/img/service/img03.jpg" width="335" height="130" alt="離婚問題の写真"></p>
                        <p class="txt">離婚には慰謝料・財産分与・養育費・親権等、多くの法律問題が生じます。ご依頼者様の事情を考慮し、問題解決の為に適切なサポートをいたします。</p>
                        <ul class="list">
                          <li><a href="./divorce.html#h301" class="ophv">親権</a></li>
                          <li><a href="./divorce.html#h302" class="ophv">教育費</a></li>
                          <li><a href="./divorce.html#h303" class="ophv">財産分与</a></li>
                          <li><a href="./divorce.html#h304" class="ophv">慰謝料請求</a></li>
                          <li><a href="./divorce.html#h305" class="ophv">婚姻費用の分担請求</a></li>
                          <li><a href="./divorce.html#h306" class="ophv">離婚無効の裁判</a></li>
                        </ul>
                      </div><!-- .unit -->
                    </section>
                  </li>

                  <li class="srv_inner">
                    <section>
                      <h3 id="h3ttl04" class="h3ttl">企業法務</h3>
                      <div class="unit">
                        <p class="img"><img src="../assets/img/service/img04.jpg" width="335" height="130" alt="企業法務の写真"></p>
                        <p class="txt">企業が日々直面する様々な法律問題や各種契約等に関して、法的なアドバイスや法律文書の作成等、状況に応じて迅速かつ的確に対応いたします。</p>
                        <ul class="list">
                          <li><a href="./corporate-law.html#h301" class="ophv">主な業務内容</a></li>
                          <li><a href="./corporate-law.html#h302" class="ophv">顧問契約について</a></li>
                        </ul>
                      </div><!-- .unit -->
                    </section>
                  </li>

                  <li class="srv_inner">
                    <section>
                      <h3 id="h3ttl05" class="h3ttl">一般法律</h3>
                      <div class="unit">
                        <p class="img"><img src="../assets/img/service/img05.jpg" width="335" height="130" alt="一般法律の写真"></p>
                        <p class="txt">債権回収、交通事故、遺産相続、不動産関連、刑事事件等、トラブルの内容に応じて的確なアドバイスをいたします。裁判手続きもお任せください。</p>
                        <ul class="list">
                          <li><a href="./general-law.html#h301" class="ophv">交通事故</a></li>
                          <li><a href="./general-law.html#h302" class="ophv">相続人問題</a></li>
                          <li><a href="./general-law.html#h303" class="ophv">逮捕</a></li>
                          <li><a href="./general-law.html#h304" class="ophv">不動産トラブル</a></li>
                          <li><a href="./general-law.html#h305" class="ophv">金銭トラブル</a></li>
                        </ul>
                      </div><!-- .unit -->
                    </section>
                  </li>

                </ul>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
