jade/service/work.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '労働問題'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/service/work.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="./debt.html") 借金問題
              li
                a(href="./") 労働問題
                ul.sli_low
                  li
                    a(href="#h301") 残業代請求
                  li
                    a(href="#h302") 不当解雇・退職勧奨
                  li
                    a(href="#h303") セクハラ・パワハラ
                  li
                    a(href="#h304") 労働災害関係
              li
                a(href="./divorce.html") 離婚問題
              li
                a(href="./corporate-law.html") 企業法務
              li
                a(href="./gneeral-law.html") 一般法律
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #work.service_low.main.right
          section
            #section01.section
              h2.h2ttl 労働問題
              .sec_inner01
                .sltxt_area01.left
                  p 使用者と労働者の労使間トラブルは、未払賃金、不当解雇・退職勧奨、セクハラ・パワハラ、労働災害等、様々な問題があります。
                  p 法律により労働者の権利は保護されていますが、労働者が不当な扱いや待遇を受けるケースが増えています。
                  p 泣き寝入りする前に、少しでも早い段階で当事務所にご相談ください。
                  p 示談交渉や労働裁判など、ご依頼者様にとって有利な立場で解決できるよう、的確なアドバイスや法的処理をいたします。
                <!-- .sltxt_area01 -->
                p.right
                  <img src="../assets/img/service/work/img01.jpg" width="250" height="170" alt="労働問題の写真">
              <!-- .sec_inner01 -->
              !='\n'

              section
                h3#h301.h3ttl 残業代請求
                section
                  h4.h4ttl 残業代請求は労働者の正当な権利です
                  .txt_area01
                    p 労働基準法により労働時間は原則として、1日8時間または1週間に40時間までと定められています。
                    p これを超えて残業（時間外労働、休日出勤等）をさせた場合、使用者は労働者に対して残業代を支払わなければなりません。
                    p しかし、サービス残業扱いで残業代や割増賃金などがきちんと支払われていないケースが多くあります。
                    p 残業代は
                      span.red 在職中・退社後にかかわらず、2年以内のものであれば過去に遡って請求ができます。
                    p 残業代請求は、労働者に認められている正当な権利です。ぜひ一度ご相談ください。
                  <!-- .txt_area01 -->
                !='\n'

                section
                  h4.h4ttl 次のような方も残業代請求は可能です
                  .sec_inner02
                    .sltxt_area02
                      p 残業代が請求できないと言われている以下のような労働時間制でも、残業代が請求できる場合があります。
                      p 是非一度、ご自身の制度をご確認下さい。
                    <!-- .txt_area03 -->
                    section
                      h5.h5ttl.mark.bold ●賃金形態が「年俸制」や「歩合給」の方
                      p.txt 年俸制・歩合給・出来高給などの方、日や週によって給与が決まっている方なども、時間外労働をしていたら、残業代が発生する可能性があります。
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ●「みなし労働時間制」や「変形時間労働制」で働いている方
                      p.txt 会社内で「管理職」だと言われている方、深夜まで働いても残業代が出ない管理職の方なども残業代が発生する可能性があります。
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ●「管理職」と言われる立場にある方
                      p.txt 会社内で「管理職」だと言われている方、深夜まで働いても残業代が出ない管理職の方なども残業代が発生する可能性があります。
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ●「残業をした」という証拠がない方
                      p.txt.last タイムカードがない方、タイムカードの記載が決められた時間になされるために、残業をしているのにその証明が出来ない方も、残業代を請求することができる場合があります。
                  <!-- sec_inner02 -->
                !='\n'

                section
                  h4.h4ttl 残業請求代の流れ
                  .sec_inner03
                    .sltxt_area02
                      p 残業代請求は、以下のような流れで行なわれます。
                    <!-- .sltxt_area02 -->
                    p.img
                      <img src="../assets/img/service/work/flow.jpg" width="690" height="530" alt="残業請求代の流れ">
                    !='\n'

                    section
                      h5.h5ttl.mark.bold １．ご相談
                      .sltxt_area03
                        p 当事務所へお電話またはメールフォームでご連絡をいただき、弁護士が面談をさせていただきます。この際に、みなさまの勤務状態などをお伺いし、いただいた資料を基に残業代が発生するかどうかなどを検討致します。
                      <!-- .sltxt_area03 -->
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ２．裁判外での和解交渉
                      .sltxt_area03
                        p 会社に対し、未払い賃金の支払い等を要求する旨の内容証明郵便を送ります。これに対する会社の対応を待ち、裁判外での和解を試みます。妥当な和解案が提示された場合にはお客様のご意向を伺い、これに沿った和解を成立させ解決となります。
                      <!-- .sltxt_area03 -->
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ３．労働審判
                      .sltxt_area03
                        p 裁判外での和解による解決が見込めない場合には、労働審判を申し立てます。労働審判委員会が事件を審理して調停を試み、調停が成立しない場合には労働審判の手続き行ないます。原則として3回以内の期日で審理が終結し、申立てから終結までの審理日数は、全国平均で約74日となっております。
                      <!-- .sltxt_area03 -->
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ４．訴訟
                      .sltxt_area03
                        p 労働審判手続で調停が成立せず、審判に対して異議が申し立てられた場合には通常訴訟の手続に移行します。労働審判手続において証拠等が既に提出されていますので、審理のスピードは比較的早いのが通常です。ただし、労働審判手続と異なり、期日の回数等に制限はありませんので、解決まで1年以上かかるケースも珍しくありません。
                      <!-- .sltxt_area03 -->
                    !='\n'

                    section
                      h5.h5ttl.mark.bold ５．強制執行
                      .sltxt_area03.last
                        p 判決が出ても会社が賃金を支払わない場合は強制執行手続を行います。これは、会社の財産（不動産や預金等）を強制的に差し押えて換価し、判決によって認められた金額を回収するものです。強制執行を行うには、別途裁判所に対する申立てが必要になります。
                      <!-- .sltxt_area03 -->
                  <!-- .sec_inner03 -->
                !='\n'

                section
                  h4.h4ttl 弁護士に残業代請求を依頼するメリット
                  .sec_inner01
                    .sltxt_area01.left
                      p 残業代請求は、弁護士の他に司法書士や行政書士、社会保険労務士も取り扱いますが、それぞれ扱える業務範囲には制約があります。
                      p また、
                        span.red 労働審判や140万円を超える額の訴訟で代理人になることができるのは弁護士だけです。
                      p 弁護士は、残業代請求についての法的なアドバイスから法的書類の作成、会社との交渉、訴訟（場合によっては強制執行）に至るまでを全て行うことができます。
                      p 残業代請求に関する一連を全て行うことが出来ますので、解決までスムーズに進めることができます。
                      p 残業代請求をお考えの方は、ぜひ当事務所にご依頼下さい。
                    <!-- .txt_area -->
                    p.right
                      <img src="../assets/img/service/work/img02.jpg" width="250" height="170" alt="弁護士に残業代請求を依頼するメリットの写真">
                  <!-- .sec_inner01 -->
                  !='\n'

                    section
                      h5.h5ttl.mark.bold.clear ●弁護士以外の士業と弁護士の比較
                      .sec_inner01
                        p.img02
                          <img src="../assets/img/service/work/table.jpg" width="750" height="240" alt="">
                        p ※交渉の代理、裁判の代理（簡易裁判所）が出来るのは、司法書士の中でも認定司法書士のみとなります。
                      <!-- .sec_inner01 -->
                    !='\n'

                  p.intro_btn
                    a(href="../case#h3ttl02")
                      <img src="../assets/img/service/work/btn_n.gif" width="300" height="45" alt="残業代請求の事例紹介はこちら">
              !='\n'

              section
                h3#h302.h3ttl 不当解雇・退職勧奨
                section
                  h4.h4ttl 不当解雇・退職勧奨とは？
                  .txt_area02
                    p 労働者を解雇するには「解雇せざるを得ない合理的な理由」が必要です。
                    p 使用者からの一方的な解雇や
                      span.red 法律に定められている条件を満たしていない場合は、解雇をしても無効となり認められません。
                    p また、安易に解雇ができないことがわかっていて、労働者が自ら退職をするように説得したり嫌がらせをしたりして、退職を促してくるケースも増えています。
                    p 労働者が退職勧奨に応じる義務はありませんので、退職の意思がない場合はきっぱりと断りましょう。
                    p 退職届を書くよう求められて提出してしまったり、やむ終えず辞めると発言してしまうと、自ら意思で退職したとみなされて不利な立場になってしまうので、まずはお早めに弁護士にご相談ください。
                    p 裁判によって解雇や退職が無効とされた場合、賃金や慰謝料の支払いを求めることができます。
                  <!-- txt_area02 -->
              !='\n'

              section
                h3#h303.h3ttl セクハラ・パワハラ
                section
                  h4.h4ttl セクハラ・パワハラとは？
                  .txt_area02
                    p セクハラ（セクシャルハラスメント）、パワハラ（パワーハラスメント）は職場における労働者の人権やプライバシーを侵害する違法行為です。
                    p 一般的に、セクハラは相手の意思に反して不快感や屈辱感を与える性的な言動、パワハラは相手の人格などを批判・否定するような言動のことを指します。
                    p 被害者に肉体的・精神的な大きな苦痛を与え、最悪の場合、職場環境に耐えられなくて退職を迫られるケースもあります。
                    p 騒ぎを大きくしたくないし、自分だけが我慢すれば大丈夫…と誰にも相談できず、お一人で悩んでいませんか？
                    p 残業代は
                      span.red セクハラやパワハラの行為がエスカレートする前に、被害にあわれたらまずは弁護士にご相談ください。
                    p ご事情をお聞きし、違法とされる行為なのか、どのような再発防止措置をとるか、加害者への対応など、親身になってサポートさせていただきます。
                  <!-- txt_area02 -->
              !='\n'

              section
                h3#h304.h3ttl 労働災害関連
                section
                  h4.h4ttl 労働災害とは？
                  .sec_inner01
                    .sltxt_area01.left
                      p 労働災害は、業務上の事由や通勤により労働者が被った負傷、疾患、障害または死亡に対して、保険給付などが支給される制度です。
                      p 一般的な業務上の災害のほか、ストレスなどによる精神的な障害や過労死なども対象になる場合があります。
                      p 労災保険の給付を受けるには労働基準監督署へ給付の申請をすることが必要です。
                      p 会社側が申請をしてくれない場合や会社側が提示する賠償金が明らかに低い場合は、専門家に相談することをおすすめします。
                      p また、災害時に
                        span.red 会社に過失の認められる場合は、労災保険とは別に損害賠償を請求することができます。
                    <!-- .sltxt_area01 -->
                    p.right
                      <img src="../assets/img/service/work/img03.jpg" width="250" height="170" alt="労働災害の写真">
                  <!-- .sec_inner01 -->
                !='\n'
                section
                  h4.h4ttl 通勤途中の災害
                  .txt_area02
                    p 業務上の事由による災害だけでなく、通勤途中の災害でも労働災害は認められます｡
                    p この場合の「通勤」とは、住居と就業の場所との間を合理的な経路・方法により往復することで、業務の性質を有するものを除くものとされています。（経路を逸脱したり中断した場合は適用外となります。）
                    p 仕事上のケガをしないと思われる事務職などの方でも、労災が適用されることがありますが、そのことを知らず、通勤途中の事故は自腹で通院・治療をされている方が多くいらっしゃいます。
                    p 騒通勤災害にあたるかの判断や請求金額等、被害者の方が正当な待遇を受けられるよう交渉いたします。
                  <!-- txt_area02 -->
              !='\n'

              section
                h3.h3ttl その他労働問題
                p 上記の他、労働問題に関するお悩みやお困りのことがございましたらお気軽にご相談ください。
                p 実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/service/work.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="労働問題 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="労働問題,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="労働問題 | 土谷総合法律事務所">
    <meta property="og:description" content="労働問題 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/service/work.html">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>労働問題 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/service/page_ttl.png" width="187" height="67" alt="労働問題"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../service"><span itemprop="title">業務のご案内</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">労働問題</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/service/slist_ttl.jpg" width="225" height="45" alt="労働問題"></p>
              <ul class="sl_inner">
                <li><a href="./debt.html">借金問題</a></li>
                <li><a href="./">労働問題</a>
                  <ul class="sli_low">
                    <li><a href="#h301">残業代請求</a></li>
                    <li><a href="#h302">不当解雇・退職勧奨</a></li>
                    <li><a href="#h303">セクハラ・パワハラ</a></li>
                    <li><a href="#h304">労働災害関係</a></li>
                  </ul>
                </li>
                <li><a href="./divorce.html">離婚問題</a></li>
                <li><a href="./corporate-law.html">企業法務</a></li>
                <li><a href="./gneeral-law.html">一般法律</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="work" class="service_low main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">労働問題</h2>
                <div class="sec_inner01">
                  <div class="sltxt_area01 left">
                    <p>使用者と労働者の労使間トラブルは、未払賃金、不当解雇・退職勧奨、セクハラ・パワハラ、労働災害等、様々な問題があります。</p>
                    <p>法律により労働者の権利は保護されていますが、労働者が不当な扱いや待遇を受けるケースが増えています。</p>
                    <p>泣き寝入りする前に、少しでも早い段階で当事務所にご相談ください。</p>
                    <p>示談交渉や労働裁判など、ご依頼者様にとって有利な立場で解決できるよう、的確なアドバイスや法的処理をいたします。</p>
                  </div><!-- .sltxt_area01 -->
                  <p class="right"><img src="../assets/img/service/work/img01.jpg" width="250" height="170" alt="労働問題の写真"></p>
                </div><!-- .sec_inner01 -->

                <section>
                  <h3 id="h301" class="h3ttl">残業代請求</h3>
                  <section>
                    <h4 class="h4ttl">残業代請求は労働者の正当な権利です</h4>
                    <div class="txt_area01">
                      <p>労働基準法により労働時間は原則として、1日8時間または1週間に40時間までと定められています。</p>
                      <p>これを超えて残業（時間外労働、休日出勤等）をさせた場合、使用者は労働者に対して残業代を支払わなければなりません。</p>
                      <p>しかし、サービス残業扱いで残業代や割増賃金などがきちんと支払われていないケースが多くあります。</p>
                      <p>残業代は<span class="red">在職中・退社後にかかわらず、2年以内のものであれば過去に遡って請求ができます。</span></p>
                      <p>残業代請求は、労働者に認められている正当な権利です。ぜひ一度ご相談ください。</p>
                    </div><!-- .txt_area01 -->
                  </section>

                  <section>
                    <h4 class="h4ttl">次のような方も残業代請求は可能です</h4>
                    <div class="sec_inner02">
                      <div class="sltxt_area02">
                        <p>残業代が請求できないと言われている以下のような労働時間制でも、残業代が請求できる場合があります。</p>
                        <p>是非一度、ご自身の制度をご確認下さい。</p>
                      </div><!-- .txt_area03 -->
                      <section>
                        <h5 class="h5ttl mark bold">●賃金形態が「年俸制」や「歩合給」の方</h5>
                        <p class="txt">年俸制・歩合給・出来高給などの方、日や週によって給与が決まっている方なども、時間外労働をしていたら、残業代が発生する可能性があります。</p>
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">●「みなし労働時間制」や「変形時間労働制」で働いている方</h5>
                        <p class="txt">会社内で「管理職」だと言われている方、深夜まで働いても残業代が出ない管理職の方なども残業代が発生する可能性があります。</p>
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">●「管理職」と言われる立場にある方</h5>
                        <p class="txt">会社内で「管理職」だと言われている方、深夜まで働いても残業代が出ない管理職の方なども残業代が発生する可能性があります。</p>
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">●「残業をした」という証拠がない方</h5>
                        <p class="txt last">タイムカードがない方、タイムカードの記載が決められた時間になされるために、残業をしているのにその証明が出来ない方も、残業代を請求することができる場合があります。</p>
                      </section>
                    </div><!-- sec_inner02 -->
                  </section>

                  <section>
                    <h4 class="h4ttl">残業請求代の流れ</h4>
                    <div class="sec_inner03">
                      <div class="sltxt_area02">
                        <p>残業代請求は、以下のような流れで行なわれます。</p>
                      </div><!-- .sltxt_area02 -->
                      <p class="img"><img src="../assets/img/service/work/flow.jpg" width="690" height="530" alt="残業請求代の流れ"></p>

                      <section>
                        <h5 class="h5ttl mark bold">１．ご相談</h5>
                        <div class="sltxt_area03">
                          <p>当事務所へお電話またはメールフォームでご連絡をいただき、弁護士が面談をさせていただきます。この際に、みなさまの勤務状態などをお伺いし、いただいた資料を基に残業代が発生するかどうかなどを検討致します。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">２．裁判外での和解交渉</h5>
                        <div class="sltxt_area03">
                          <p>会社に対し、未払い賃金の支払い等を要求する旨の内容証明郵便を送ります。これに対する会社の対応を待ち、裁判外での和解を試みます。妥当な和解案が提示された場合にはお客様のご意向を伺い、これに沿った和解を成立させ解決となります。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">３．労働審判</h5>
                        <div class="sltxt_area03">
                          <p>裁判外での和解による解決が見込めない場合には、労働審判を申し立てます。労働審判委員会が事件を審理して調停を試み、調停が成立しない場合には労働審判の手続き行ないます。原則として3回以内の期日で審理が終結し、申立てから終結までの審理日数は、全国平均で約74日となっております。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">４．訴訟</h5>
                        <div class="sltxt_area03">
                          <p>労働審判手続で調停が成立せず、審判に対して異議が申し立てられた場合には通常訴訟の手続に移行します。労働審判手続において証拠等が既に提出されていますので、審理のスピードは比較的早いのが通常です。ただし、労働審判手続と異なり、期日の回数等に制限はありませんので、解決まで1年以上かかるケースも珍しくありません。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>

                      <section>
                        <h5 class="h5ttl mark bold">５．強制執行</h5>
                        <div class="sltxt_area03 last">
                          <p>判決が出ても会社が賃金を支払わない場合は強制執行手続を行います。これは、会社の財産（不動産や預金等）を強制的に差し押えて換価し、判決によって認められた金額を回収するものです。強制執行を行うには、別途裁判所に対する申立てが必要になります。</p>
                        </div><!-- .sltxt_area03 -->
                      </section>
                    </div><!-- .sec_inner03 -->
                  </section>

                  <section>
                    <h4 class="h4ttl">弁護士に残業代請求を依頼するメリット</h4>
                    <div class="sec_inner01">
                      <div class="sltxt_area01 left">
                        <p>残業代請求は、弁護士の他に司法書士や行政書士、社会保険労務士も取り扱いますが、それぞれ扱える業務範囲には制約があります。</p>
                        <p>また、<span class="red">労働審判や140万円を超える額の訴訟で代理人になることができるのは弁護士だけです。</span></p>
                        <p>弁護士は、残業代請求についての法的なアドバイスから法的書類の作成、会社との交渉、訴訟（場合によっては強制執行）に至るまでを全て行うことができます。</p>
                        <p>残業代請求に関する一連を全て行うことが出来ますので、解決までスムーズに進めることができます。</p>
                        <p>残業代請求をお考えの方は、ぜひ当事務所にご依頼下さい。</p>
                      </div><!-- .txt_area -->
                      <p class="right"><img src="../assets/img/service/work/img02.jpg" width="250" height="170" alt="弁護士に残業代請求を依頼するメリットの写真"></p>
                    </div><!-- .sec_inner01 -->

                    <section>
                      <h5 class="h5ttl mark bold clear">●弁護士以外の士業と弁護士の比較</h5>
                      <div class="sec_inner01">
                        <p class="img02"><img src="../assets/img/service/work/table.jpg" width="750" height="240" alt=""></p>
                        <p>※交渉の代理、裁判の代理（簡易裁判所）が出来るのは、司法書士の中でも認定司法書士のみとなります。</p>
                      </div><!-- .sec_inner01 -->
                    </section>

                    <p class="intro_btn"><a href="../case#h3ttl02"><img src="../assets/img/service/work/btn_n.gif" width="300" height="45" alt="残業代請求の事例紹介はこちら"></a></p>
                  </section>
                </section>

                <section>
                  <h3 id="h302" class="h3ttl">不当解雇・退職勧奨</h3>
                  <section>
                    <h4 class="h4ttl">不当解雇・退職勧奨とは？</h4>
                    <div class="txt_area02">
                      <p>労働者を解雇するには「解雇せざるを得ない合理的な理由」が必要です。</p>
                      <p>使用者からの一方的な解雇や<span class="red">法律に定められている条件を満たしていない場合は、解雇をしても無効となり認められません。</span></p>
                      <p>また、安易に解雇ができないことがわかっていて、労働者が自ら退職をするように説得したり嫌がらせをしたりして、退職を促してくるケースも増えています。</p>
                      <p>労働者が退職勧奨に応じる義務はありませんので、退職の意思がない場合はきっぱりと断りましょう。</p>
                      <p>退職届を書くよう求められて提出してしまったり、やむ終えず辞めると発言してしまうと、自ら意思で退職したとみなされて不利な立場になってしまうので、まずはお早めに弁護士にご相談ください。</p>
                      <p>裁判によって解雇や退職が無効とされた場合、賃金や慰謝料の支払いを求めることができます。</p>
                    </div><!-- txt_area02 -->
                  </section>
                </section>

                <section>
                  <h3 id="h303" class="h3ttl">セクハラ・パワハラ</h3>
                  <section>
                    <h4 class="h4ttl">セクハラ・パワハラとは？</h4>
                    <div class="txt_area02">
                      <p>セクハラ（セクシャルハラスメント）、パワハラ（パワーハラスメント）は職場における労働者の人権やプライバシーを侵害する違法行為です。</p>
                      <p>一般的に、セクハラは相手の意思に反して不快感や屈辱感を与える性的な言動、パワハラは相手の人格などを批判・否定するような言動のことを指します。</p>
                      <p>被害者に肉体的・精神的な大きな苦痛を与え、最悪の場合、職場環境に耐えられなくて退職を迫られるケースもあります。</p>
                      <p>騒ぎを大きくしたくないし、自分だけが我慢すれば大丈夫…と誰にも相談できず、お一人で悩んでいませんか？</p>
                      <p>残業代は<span class="red">セクハラやパワハラの行為がエスカレートする前に、被害にあわれたらまずは弁護士にご相談ください。</span></p>
                      <p>ご事情をお聞きし、違法とされる行為なのか、どのような再発防止措置をとるか、加害者への対応など、親身になってサポートさせていただきます。</p>
                    </div><!-- txt_area02 -->
                  </section>
                </section>

                <section>
                  <h3 id="h304" class="h3ttl">労働災害関連</h3>
                  <section>
                    <h4 class="h4ttl">労働災害とは？</h4>
                    <div class="sec_inner01">
                      <div class="sltxt_area01 left">
                        <p>労働災害は、業務上の事由や通勤により労働者が被った負傷、疾患、障害または死亡に対して、保険給付などが支給される制度です。</p>
                        <p>一般的な業務上の災害のほか、ストレスなどによる精神的な障害や過労死なども対象になる場合があります。</p>
                        <p>労災保険の給付を受けるには労働基準監督署へ給付の申請をすることが必要です。</p>
                        <p>会社側が申請をしてくれない場合や会社側が提示する賠償金が明らかに低い場合は、専門家に相談することをおすすめします。</p>
                        <p>また、災害時に<span class="red">会社に過失の認められる場合は、労災保険とは別に損害賠償を請求することができます。</span></p>
                      </div><!-- .sltxt_area01 -->
                      <p class="right"><img src="../assets/img/service/work/img03.jpg" width="250" height="170" alt="労働災害の写真"></p>
                    </div><!-- .sec_inner01 -->
                  </section>

                  <section>
                    <h4 class="h4ttl">通勤途中の災害</h4>
                    <div class="txt_area02">
                      <p>業務上の事由による災害だけでなく、通勤途中の災害でも労働災害は認められます｡</p>
                      <p>この場合の「通勤」とは、住居と就業の場所との間を合理的な経路・方法により往復することで、業務の性質を有するものを除くものとされています。（経路を逸脱したり中断した場合は適用外となります。）</p>
                      <p>仕事上のケガをしないと思われる事務職などの方でも、労災が適用されることがありますが、そのことを知らず、通勤途中の事故は自腹で通院・治療をされている方が多くいらっしゃいます。</p>
                      <p>騒通勤災害にあたるかの判断や請求金額等、被害者の方が正当な待遇を受けられるよう交渉いたします。</p>
                    </div><!-- txt_area02 -->
                  </section>
                </section>

                <section>
                  <h3 class="h3ttl">その他労働問題</h3>
                  <p>上記の他、労働問題に関するお悩みやお困りのことがございましたらお気軽にご相談ください。</p>
                  <p>実績豊富な弁護士が、ご依頼者様にとって最善な解決策をご提案させていただきます。</p>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
