_html/contact/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="お問い合わせ - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="お問い合わせ,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="お問い合わせ | 土谷総合法律事務所">
    <meta property="og:description" content="お問い合わせ - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/contact/">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>お問い合わせ | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/contact/page_ttl.png" width="190" height="67" alt="お問い合わせ"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">お問い合わせ</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/contact/slist_ttl.jpg" width="225" height="45" alt="お問い合わせ"></p>
              <ul class="sl_inner">
                <li><a href="#section01">お問い合わせ</a></li>
                <li><a href="#section02">メールフォーム</a></li>
                <li><a href="#section03">個人情報保護方針</a></li>
              </ul>
            </div>
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="contact" class="main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">お問い合わせ</h2>
                <div class="txt_area">
                  <p>法律相談や各種お問い合わせは、お電話・FAXまたはメールフォームより承っております。</p>
                  <p>初回のご相談は無料となっておりますので、お困りのことがございましたらまずはお気軽にご相談ください。</p>
                  <p>お急ぎの方はお電話をご利用いただくとご案内がスムーズです。</p>
                </div><!-- .txt_area -->
                <p><img src="../assets/img/contact/ct_bnr.jpg" width="750" height="150" alt="お電話・FAXでのお問い合わせはこちら"></p><!-- .ct_bnr -->
              </div><!-- #section01 -->
            </section>

            <section>
              <div id="section02" class="section">
                <h2 class="h2ttl">メールフォーム</h2>
                <div class="txt_area">
                  <p>メールでのお問い合わせは下記のメールフォームをご利用ください。</p>
                  <p>内容を確認後、担当より折り返しご連絡させていただきます。</p>
                  <p>※個人情報の取り扱いにつきましては<a href="#section03">個人情報保護方針</a>をご確認ください。</p>
                </div><!-- .txt_area -->
                <!--メールフォーム-->
                <link rel="stylesheet" href="../mailform/mfp.statics/mailformpro.css">
                <form id="mailformpro" action="../mailform/mailformpro/mailformpro.cgi" method="POST">
                  <div class="tbl_wrap">
                    <table>
                      <tbody>
                        <tr>
                          <th class="req">件名</th>
                          <td>
                            <ul class="kenmei">
                              <li>
                                <label>
                                  <input type="checkbox" name="件名" value="借金問題について">&nbsp;借金問題
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="checkbox" name="件名" value="労働問題について">&nbsp;労働問題について
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="checkbox" name="件名" value="離婚問題について">&nbsp;離婚問題について
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="checkbox" name="件名" value="企業法務について">&nbsp;企業法務について
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="checkbox" name="件名" value="一般法律について">&nbsp;一般法律について
                                </label>
                              </li>
                              <li>
                                <label>
                                  <input type="checkbox" name="件名" value="当事務所について">&nbsp;当事務所について
                                </label>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th class="req">お名前</th>
                          <td>
                            <input name="お名前" required="required" size="20" type="text" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th>フリガナ</th>
                          <td>
                            <input name="フリガナ" size="20" type="text" data-charcheck="kana" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th class="req">メールアドレス</th>
                          <td>
                            <input name="email" required="required" size="40" type="email" data-type="email" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th class="req">郵便番号</th>
                          <td>
                            <input type="hidden" name="ご住所[unjoin]〒+郵便番号+
+都道府県+市区町村+丁目番地" value="">
                            <input type="text" name="郵便番号" size="10" onblur="mfpc(this.form.id,this.name,'都道府県','市区町村','丁目番地');" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th>ご住所</th>
                          <td>
                            <ol>
                              <li><span>都道府県</span>
                                <select name="都道府県" class="ipf">
                                  <option value="" selected="selected">【選択して下さい】</option>
                                  <optgroup label="北海道・東北地方">
                                    <option value="北海道">北海道</option>
                                    <option value="青森県">青森県</option>
                                    <option value="岩手県">岩手県</option>
                                    <option value="秋田県">秋田県</option>
                                    <option value="宮城県">宮城県</option>
                                    <option value="山形県">山形県</option>
                                    <option value="福島県">福島県</option>
                                  </optgroup>
                                  <optgroup label="関東地方">
                                    <option value="栃木県">栃木県</option>
                                    <option value="群馬県">群馬県</option>
                                    <option value="茨城県">茨城県</option>
                                    <option value="埼玉県">埼玉県</option>
                                    <option value="東京都">東京都</option>
                                    <option value="千葉県">千葉県</option>
                                    <option value="神奈川県">神奈川県</option>
                                  </optgroup>
                                  <optgroup label="中部地方">
                                    <option value="山梨県">山梨県</option>
                                    <option value="長野県">長野県</option>
                                    <option value="新潟県">新潟県</option>
                                    <option value="富山県">富山県</option>
                                    <option value="福井県">福井県</option>
                                    <option value="静岡県">静岡県</option>
                                    <option value="岐阜県">岐阜県</option>
                                    <option value="愛知県">愛知県</option>
                                  </optgroup>
                                  <optgroup label="近畿地方">
                                    <option value="三重県">三重県</option>
                                    <option value="滋賀県">滋賀県</option>
                                    <option value="京都府">京都府</option>
                                    <option value="大阪府">大阪府</option>
                                    <option value="兵庫県">兵庫県</option>
                                    <option value="奈良県">奈良県</option>
                                    <option value="和歌山県">和歌山県</option>
                                  </optgroup>
                                  <optgroup label="四国地方">
                                    <option value="徳島県">徳島県</option>
                                    <option value="香川県">香川県</option>
                                    <option value="愛媛県">愛媛県</option>
                                    <option value="高知県">高知県</option>
                                  </optgroup>
                                  <optgroup label="中国地方">
                                    <option value="鳥取県">鳥取県</option>
                                    <option value="島根県">島根県</option>
                                    <option value="岡山県">岡山県</option>
                                    <option value="広島県">広島県</option>
                                    <option value="山口県">山口県</option>
                                  </optgroup>
                                  <optgroup label="九州・沖縄地方">
                                    <option value="福岡県">福岡県</option>
                                    <option value="佐賀県">佐賀県</option>
                                    <option value="長崎県">長崎県</option>
                                    <option value="大分県">大分県</option>
                                    <option value="熊本県">熊本県</option>
                                    <option value="宮崎県">宮崎県</option>
                                    <option value="鹿児島県">鹿児島県</option>
                                    <option value="沖縄県">沖縄県</option>
                                  </optgroup>
                                </select>
                              </li>
                              <li class="city"><span>市区町村</span>
                                <input type="text" name="丁目番地" size="32" class="ipf">
                              </li>
                              <li><span>丁目番地</span>
                                <input type="text" name="丁目番地" size="32" class="ipf">
                              </li>
                            </ol>
                          </td>
                        </tr>
                        <tr>
                          <th class="req">電話番号</th>
                          <td>
                            <input name="電話番号" size="20" type="tel" data-type="tel" data-min="9" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th>FAX番号</th>
                          <td>
                            <input name="FAX番号" size="20" type="tel" data-type="fax" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th>職業</th>
                          <td>
                            <input name="職業" size="20" type="tel" data-type="job" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th>勤務先</th>
                          <td>
                            <input name="勤務先" size="20" type="tel" data-type="office" class="ipf">
                          </td>
                        </tr>
                        <tr>
                          <th class="req">お問い合わせ内容</th>
                          <td>
                            <textarea cols="50" name="お問い合わせ内容" required="required" rows="10"></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!--/.tbl_wrap-->
                  <div class="confirm_btn">
                    <button type="submit" class="mysubmit left"><img src="../assets/img/contact/confirm_btn_n.gif" width="140" height="40" alt="確認"></button>
                    <button type="reset" class="mysubmit right"><img src="../assets/img/contact/reset_btn_n.gif" width="140" height="40" alt="リセット"></button>
                  </div><!--/.confirm_btn-->
                  <script id="mfpjs" src="../mailform/mailformpro/mailformpro.cgi" type="text/javascript" charset="UTF-8"></script>
                </form>
              </div><!-- #section02 -->
            </section>

            <section>
              <div id="section03" class="section">
                <h2 class="h2ttl">個人情報保護方針</h2>
                <p class="txt">土谷総合法律事務所（以下「当事務所」）は、お客様のプライバシーに係わる個人情報を保護することに細心の注意を払い取り組みます。お客様ご自身の判断により個人情報をご提供いただく場合がございますが、その情報は必要最小限の情報とし、その他の情報のご提供につきましてはお客様の判断を尊重いたします。</p>
                <section>
                  <h3>1．個人情報の収集および利用目的について</h3>
                  <div class="txt_area">
                    <p>当事務所では依頼者・相談者をはじめとする個人情報を取得する場合、利用目的を明示し、適正かつ公正な手段によって行ないます。</p>
                    <p>［利用目的］個人情報を以下の業務遂行・目的のために取得いたします。</p>
                    <p>・事件処理その他の業務遂行を目的とする情報管理・収集、書面等の発送及び連絡の為</p>
                    <p>・ご相談、お問い合わせに関する回答の為</p>
                  </div><!-- .txt_area -->
                </section>

                <section>
                  <h3>2．個人情報の安全管理・保管</h3>
                  <div class="txt_area">
                    <p>当事務所は、ご提供いただいた個人情報を正確にデータ処理し、当事務所が保有する個人情報の安全性を確保するため、適切な保護・安全対策を実施し、個人情報の紛失、破壊、改ざん、漏えいの防止に努めます。</p>
                  </div><!-- .txt_area -->
                </section>

                <section>
                  <h3>3．個人情報の提供</h3>
                  <div class="txt_area">
                    <p>個人情報について、お客様ご本人の同意を得ずに当事務所が第三者に提供することは、以下の場合を除き、原則いたしません。</p>
                    <p>・法令に基づく場合</p>
                    <p>・人の生命、身体又は財産の保護のために必要がある場合</p>
                    <p>・国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合</p>
                    <p>・業務の遂行に係り、官公署へ書類を提出する場合</p>
                  </div><!-- .txt_area -->
                </section>

                <section>
                  <h3>4．個人情報の開示･利用停止・消去について</h3>
                  <div class="txt_area">
                    <p>個人情報の情報主体であるご本人が自己の個人情報について、開示、訂正、利用停止、消去等の要求をなされた場合は、適切な方法により、ご本人であることの確認を経た上で、法令または業務上拒否することが認められた場合を除き速やかに対応致します。</p>
                  </div><!-- .txt_area -->
                </section>

                <section>
                  <h3>5．個人情報保護方針の改定</h3>
                  <div class="txt_area">
                    <p>当事務所では、社会情勢の変化、技術の進歩、諸環境の変化等に応じ、事前の予告なくプライバシーポリシーを変更することがあります。</p>
                  </div><!-- .txt_area -->
                </section>

                <section>
                  <h3>6.お問い合せ</h3>
                  <div class="txt_area">
                    <p class="txt02">当事務所の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
                    <p class="bold">土谷総合法律事務所</p>
                    <p>〒101-0051　東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</p>
                    <p>TEL：03-6272-5485 / FAX：03-6272-6433</p>
                  </div><!-- .txt_area -->
                </section>
              </div><!-- #section03 -->
            </section>
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>

jade/contact/index.jade
extends ../template/low_layout.jade
block meta
  - var page_title = 'お問い合わせ'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/contact/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}
block append script

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/contact/page_ttl.png" width="190" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/contact/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") #{page_title}
              li
                a(href="#section02") メールフォーム
              li
                a(href="#section03") 個人情報保護方針

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #contact.main.right
          section
            #section01.section
              h2.h2ttl #{page_title}
              .txt_area
                p 法律相談や各種お問い合わせは、お電話・FAXまたはメールフォームより承っております。
                p 初回のご相談は無料となっておりますので、お困りのことがございましたらまずはお気軽にご相談ください。
                p お急ぎの方はお電話をご利用いただくとご案内がスムーズです。
              <!-- .txt_area -->
              p
                <img src="../assets/img/contact/ct_bnr.jpg" width="750" height="150" alt="お電話・FAXでのお問い合わせはこちら">
              <!-- .ct_bnr -->
            <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl メールフォーム
              .txt_area
                p メールでのお問い合わせは下記のメールフォームをご利用ください。
                p 内容を確認後、担当より折り返しご連絡させていただきます。
                p ※個人情報の取り扱いにつきましては
                  a(href="#section03") 個人情報保護方針
                  |をご確認ください。
              <!-- .txt_area -->

              //メールフォーム
              include ../template/mailform.jade
            <!-- #section02 -->
          !='\n'

          section
            #section03.section
              h2.h2ttl 個人情報保護方針
              p.txt 土谷総合法律事務所（以下「当事務所」）は、お客様のプライバシーに係わる個人情報を保護することに細心の注意を払い取り組みます。お客様ご自身の判断により個人情報をご提供いただく場合がございますが、その情報は必要最小限の情報とし、その他の情報のご提供につきましてはお客様の判断を尊重いたします。
              section
                h3 1．個人情報の収集および利用目的について
                .txt_area
                  p 当事務所では依頼者・相談者をはじめとする個人情報を取得する場合、利用目的を明示し、適正かつ公正な手段によって行ないます。
                  p ［利用目的］個人情報を以下の業務遂行・目的のために取得いたします。
                  p ・事件処理その他の業務遂行を目的とする情報管理・収集、書面等の発送及び連絡の為
                  p ・ご相談、お問い合わせに関する回答の為
                <!-- .txt_area -->
              !='\n'

              section
                h3 2．個人情報の安全管理・保管
                .txt_area
                  p 当事務所は、ご提供いただいた個人情報を正確にデータ処理し、当事務所が保有する個人情報の安全性を確保するため、適切な保護・安全対策を実施し、個人情報の紛失、破壊、改ざん、漏えいの防止に努めます。
                <!-- .txt_area -->
              !='\n'

              section
                h3 3．個人情報の提供
                .txt_area
                  p 個人情報について、お客様ご本人の同意を得ずに当事務所が第三者に提供することは、以下の場合を除き、原則いたしません。
                  p ・法令に基づく場合
                  p ・人の生命、身体又は財産の保護のために必要がある場合
                  p ・国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
                  p ・業務の遂行に係り、官公署へ書類を提出する場合
                <!-- .txt_area -->
              !='\n'

              section
                h3 4．個人情報の開示･利用停止・消去について
                .txt_area
                  p 個人情報の情報主体であるご本人が自己の個人情報について、開示、訂正、利用停止、消去等の要求をなされた場合は、適切な方法により、ご本人であることの確認を経た上で、法令または業務上拒否することが認められた場合を除き速やかに対応致します。
                <!-- .txt_area -->
              !='\n'

              section
                h3 5．個人情報保護方針の改定
                .txt_area
                  p 当事務所では、社会情勢の変化、技術の進歩、諸環境の変化等に応じ、事前の予告なくプライバシーポリシーを変更することがあります。
                <!-- .txt_area -->
              !='\n'

              section
                h3 6.お問い合せ
                .txt_area
                  p.txt02 当事務所の個人情報の取扱に関するお問い合せは下記までご連絡ください。
                  p.bold 土谷総合法律事務所
                  p 〒101-0051　東京都千代田区神田神保町3-5　ニュー徳栄ビル4階
                  p TEL：03-6272-5485 / FAX：03-6272-6433
                <!-- .txt_area -->
            <!-- #section03 -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
