_html/office/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="事務所紹介 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="事務所紹介,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="事務所紹介 | 土谷総合法律事務所">
    <meta property="og:description" content="事務所紹介 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/office/">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>事務所紹介 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/office/page_ttl.png" width="161" height="67" alt="事務所紹介"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">事務所紹介</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/office/slist_ttl.jpg" width="225" height="45" alt="事務所紹介"></p>
              <ul class="sl_inner">
                <li><a href="#section01">事務所概要</a></li>
                <li><a href="#section02">アクセスマップ</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="office" class="main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">事務所概要</h2>
                <div class="tbl_wrap">
                  <table>
                    <tr>
                      <th>事務所名</th>
                      <td>土谷総合法律事務所</td>
                    </tr>
                    <tr>
                      <th>代表</th>
                      <td>土谷　修一</td>
                    </tr>
                    <tr>
                      <th>住所</th>
                      <td>
                        <p>〒101-0051</p>
                        <p>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階&nbsp;<a href="#section02" class="mark">[アクセスマップ]</a></p>
                      </td>
                    </tr>
                    <tr>
                      <th>電話番号</th>
                      <td>03-6272-5485</td>
                    </tr>
                    <tr>
                      <th>FAX番号</th>
                      <td>03-6272-6433</td>
                    </tr>
                    <tr>
                      <th>営業時間</th>
                      <td>10:00～19:00（平日）</td>
                    </tr>
                    <tr>
                      <th>定休日</th>
                      <td>土・日・祝日</td>
                    </tr>
                    <tr>
                      <th>対応地域</th>
                      <td>東京都、神奈川県、埼玉県、千葉県、茨城県、栃木県、群馬県、山梨県、静岡県</td>
                    </tr>
                    <tr>
                      <th>主な取り扱い業務</th>
                      <td>
                        <p><a href="">・借金問題（過払い請求、任意整理、自己破産、民事再生）</a></p>
                        <p><a href="">・労働問題（残業代請求、不当解雇・退職勧奨、セクハラ・パワハラ、労働災害関係）</a></p>
                        <p><a href="">・離婚問題（離婚調停・訴訟、親権・養育費、財産分与、慰謝料請求）</a></p>
                        <p><a href="">・企業法務（労働相談、契約書作成、訴訟対応、顧問契約）</a></p>
                        <p><a href="">・一般法律（債権回収、交通事故、遺産相続、不動産関連、刑事事件、民事事件）</a></p>
                      </td>
                    </tr>
                  </table>
                </div><!-- .tbl_wrap -->

                <div class="img_area">
                  <div class="unit left">
                    <p><img src="../assets/img/office/img02.jpg" width="250" height="180" alt="建物外観、看板事務所内の写真等が入る予定"></p>
                    <p class="txt">建物外観、看板事務所内の写真等が入る予定</p>
                  </div><!-- .unit -->
                  <div class="unit right">
                    <p><img src="../assets/img/office/img01.jpg" width="250" height="180" alt="相談スペースの写真" ></p>
                    <p class="txt">相談スペース</p>
                  </div><!-- .unit -->
                </div><!-- img_area -->
              </div><!-- #section01 -->
            </section>

            <section>
              <div id="section02" class="section">
                <h2 class="h2ttl">アクセスマップ</h2>
                <div class="txt_area">
                  <p>土谷総合法律事務所</p>
                  <p>〒101-0051　東京都千代田区神田神保町3-5 ニュー徳栄ビル4階</p>
                  <p>都営新宿線・三田線、東京メトロ 半蔵門線「神保町駅」A1番出口より徒歩2分<br>都営新宿線、東京メトロ 東西線・半蔵門線「九段下駅」6番出口より徒歩2分</p>
                </div><!-- .txt_area -->
                <p class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2447952369653!2d139.75181286560505!3d35.69559318679072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1473061589203" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
              </div><!-- #section02 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>

jade/office/index.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '事務所紹介'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/office/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/office/page_ttl.png" width="161" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/office/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#section01") 事務所概要
              li
                a(href="#section02") アクセスマップ
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #office.main.right
          section
            #section01.section
              h2.h2ttl 事務所概要
              .tbl_wrap
                table
                  tr
                    th 事務所名
                    td 土谷総合法律事務所
                  tr
                    th 代表
                    td 土谷　修一
                  tr
                    th 住所
                    td
                      p 〒101-0051
                      p 東京都千代田区神田神保町3-5　ニュー徳栄ビル4階&nbsp;
                        a.mark(href="#section02") [アクセスマップ]
                  tr
                    th 電話番号
                    td 03-6272-5485
                  tr
                    th FAX番号
                    td 03-6272-6433
                  tr
                    th 営業時間
                    td 10:00～19:00（平日）
                  tr
                    th 定休日
                    td 土・日・祝日
                  tr
                    th 対応地域
                    td 東京都、神奈川県、埼玉県、千葉県、茨城県、栃木県、群馬県、山梨県、静岡県
                  tr
                    th 主な取り扱い業務
                    td
                      p
                        a(href="") ・借金問題（過払い請求、任意整理、自己破産、民事再生）
                      p
                        a(href="") ・労働問題（残業代請求、不当解雇・退職勧奨、セクハラ・パワハラ、労働災害関係）
                      p
                        a(href="") ・離婚問題（離婚調停・訴訟、親権・養育費、財産分与、慰謝料請求）
                      p
                        a(href="") ・企業法務（労働相談、契約書作成、訴訟対応、顧問契約）
                      p
                        a(href="") ・一般法律（債権回収、交通事故、遺産相続、不動産関連、刑事事件、民事事件）
              <!-- .tbl_wrap -->
              !='\n'

              .img_area
                .unit.left
                  p
                    <img src="../assets/img/office/img02.jpg" width="250" height="180" alt="建物外観、看板事務所内の写真等が入る予定">
                  p.txt 建物外観、看板事務所内の写真等が入る予定
                <!-- .unit -->
                .unit.right
                  p
                    <img src="../assets/img/office/img01.jpg" width="250" height="180" alt="相談スペースの写真" >
                  p.txt 相談スペース
                <!-- .unit -->
              <!-- img_area -->
            <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl アクセスマップ
              .txt_area
                p 土谷総合法律事務所
                p 〒101-0051　東京都千代田区神田神保町3-5 ニュー徳栄ビル4階
                p 都営新宿線・三田線、東京メトロ 半蔵門線「神保町駅」A1番出口より徒歩2分
                  br
                  |都営新宿線、東京メトロ 東西線・半蔵門線「九段下駅」6番出口より徒歩2分
              <!-- .txt_area -->
              p.gmap
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2447952369653!2d139.75181286560505!3d35.69559318679072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1473061589203" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <!-- #section02 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->
