jade/faq/index.jade
extends ../template/low_layout.jade
block meta
  - var page_title = 'よくあるご質問'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/faq/")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/faq/page_ttl.png" width="202" height="70" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/faq/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="#h3ttl01") 借金問題に関するご質問
              li
                a(href="#h3ttl02") 当事務所に関するご質問

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #faq.main.right
          section
            #section01.section
              h2.h2ttl ご質問一覧
              .txt_area01
                p お客様からよくいただくご質問をご紹介します。
                p その他、ご質問やご不明な点がございましたらお気軽にお問い合わせください。
              <!-- .txt_area -->
              section
                h3#h3ttl01.h3ttl 借金問題に関するご質問
                .txt_area02
                  p
                    a.ophv(href="#h4ttl01") 借入明細がなく、返済時期もあいまいですが請求できますか？
                  p
                    a.ophv(href="#h4ttl02") デパート等のクレジットカードも過払い金はありますか？
                  p
                    a.ophv(href="#h4ttl03") 過去に自己破産・特定調停をしましたが過払い金はありますか？
                  p
                    a.ophv(href="#h4ttl04") 家族や職場に知られたり、業者の嫌がらせはないですか？
                  p
                    a.ophv(href="#h4ttl05") 亡くなった家族の過払い請求はできますか？
                  p
                    a.ophv(href="#h4ttl06") 依頼したいけどお金に余裕がありません。諦めるしかないのでしょうか？
                <!-- .txt_area02 -->
              !='\n'

              section
                h3#h3ttl02.h3ttl 当事務所に関するご質問
                .txt_area02
                  p
                    a.ophv(href="#h4ttl07") 電話やメールでの相談は可能ですか？
                  p
                    a.ophv(href="#h4ttl08") 相談できる時間は何時から何時までですか？
                  p
                    a.ophv(href="#h4ttl09") 法律相談の際に必要なものはありますか？
                  p
                    a.ophv(href="#h4ttl10") 法律相談したら、事件の依頼をしないといけないのでしょうか？
                  p
                    a.ophv(href="#h4ttl11") 依頼した際にかかる費用はどのくらいですか？
                <!-- .txt_area02 -->
            <!-- #section01 -->
          !='\n'

          section
            #section02.section
              h2.h2ttl 回答一覧
              section
                h3.h3ttl 借金問題に関するご質問
                section
                  .unit
                    h4#h4ttl01.h4ttl 借入明細がなく返済時期もあいまいですが請求できますか？
                    p 契約書類や明細、カードがなくても業者名さえ分かればお調べすることができます。
                      br
                      |過去の高い金利や完済した取引を含めて、過払い金請求が可能です。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl02.h4ttl デパート等のクレジットカードも過払い金はありますか？
                    p 信販会社のクレジットカードに付いている、「キャッシング」や「リボ」の取引も以前は金利が高かったこともあるので過払い金が発生している可能性があります。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl03.h4ttl 過去に自己破産・特定調停をしましたが過払い金はありますか？
                    p 20％を超える金利での取引の場合は、過払い金が発生している可能性があります。
                      br
                      |一度当事務所へ相談していただき、過払い金があるのか確認することをおすすめします。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl04.h4ttl 家族や職場に知られたり、業者の嫌がらせはないですか？
                    p 20ご連絡先や郵送先に配慮して手続きを進めていきますので、ご家族や職場に知られることはありません。
                      br
                      |また、ご依頼後は貸金業法により業者から電話や郵便物が届くことはありません。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl05.h4ttl 亡くなった家族の過払い請求はできますか？
                    p 相続人の方であれば、亡くなられた方の過払い金も請求することが可能です。
                      br
                      |一度当事務所へ相談していただき、過払い金があるのか確認することをおすすめします。
                  <!-- .unit -->
                !='\n'

                section
                  .unit.last
                    h4#h4ttl06.h4ttl 依頼したいけどお金に余裕がありません。諦めるしかないのでしょうか？
                    p 過払い請求の場合は、戻ってきた過払い金から清算することができます。
                      br
                      |現在支払い中の方も業者の支払いを止めて無理のない金額で分割払いが可能ですので、諦める前にご相談ください。
                  <!-- .unit -->
              !='\n'

              section
                h3.h3ttl 当事務所に関するご質問
                section
                  .unit
                    h4#h4ttl07.h4ttl 電話やメールでの相談は可能ですか？
                    p 原則として当事務所にご来所いただき、面談によるご相談とさせていただいております。
                      br
                      |お電話やメールにて概要をお聞きすることはございますが、お一人お一人の具体的な状況やお持ちの資料等を確認しながら対処法をご案内させていただくため、お電話だけやメールだけのご相談は受け付けておりません。
                      br
                      |なお、事情により事務所にお越しいただけない場合はご相談ください。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl08.h4ttl 相談できる時間は何時から何時までですか？
                    p 当事務所の営業時間は平日の10時～19時までとなっております。
                      br
                      |土・日・祝日は定休日となっておりますが、ご要望がございましたら対応させていただきますのでお気軽にお問い合わせください。
                      br
                      |なお、メールでのご相談予約は24時間受け付けております。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl09.h4ttl 法律相談の際に必要なものはありますか？
                    p ご相談内容に関係のありそうな書類や資料、経緯や状況を簡単にまとめたメモなどがあるとご相談をスムーズに進めることができます。
                      br
                      |ご相談内容によりご用意いただくものが異なりますので、お問い合わせいただいた際にご案内させていただきます。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl10.h4ttl 法律相談したら、事件の依頼をしないといけないのでしょうか？
                    p そんなことはありません。ご相談だけでも構いませんので、お困りのことがございましたらまずはお気軽にご相談ください。法的アドバイスや対処法をご案内させていだきます。
                      br
                      |当事務所がご提示する解決方法や費用等にご納得いただけましたら、正式にご依頼ください。
                  <!-- .unit -->
                !='\n'

                section
                  .unit
                    h4#h4ttl11.h4ttl 依頼した際にかかる費用はどのくらいですか？
                    p ご依頼いただく案件により費用は異なりますので、詳細はご相談時にご案内いたします。
                      br
                      |着手金、弁護士費用、実費等、わかりやすくご説明させていただきますのでご安心ください。
                  <!-- .unit -->
            <!-- #section02 -->
          !='\n'



            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/faq/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="よくあるご質問 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="よくあるご質問,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="よくあるご質問 | 土谷総合法律事務所">
    <meta property="og:description" content="よくあるご質問 - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/faq/">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>よくあるご質問 | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/faq/page_ttl.png" width="202" height="70" alt="よくあるご質問"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">よくあるご質問</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/faq/slist_ttl.jpg" width="225" height="45" alt="よくあるご質問"></p>
              <ul class="sl_inner">
                <li><a href="#h3ttl01">借金問題に関するご質問</a></li>
                <li><a href="#h3ttl02">当事務所に関するご質問</a></li>
              </ul>
            </div>
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="faq" class="main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">ご質問一覧</h2>
                <div class="txt_area01">
                  <p>お客様からよくいただくご質問をご紹介します。</p>
                  <p>その他、ご質問やご不明な点がございましたらお気軽にお問い合わせください。</p>
                </div><!-- .txt_area -->
                <section>
                  <h3 id="h3ttl01" class="h3ttl">借金問題に関するご質問</h3>
                  <div class="txt_area02">
                    <p><a href="#h4ttl01" class="ophv">借入明細がなく、返済時期もあいまいですが請求できますか？</a></p>
                    <p><a href="#h4ttl02" class="ophv">デパート等のクレジットカードも過払い金はありますか？</a></p>
                    <p><a href="#h4ttl03" class="ophv">過去に自己破産・特定調停をしましたが過払い金はありますか？</a></p>
                    <p><a href="#h4ttl04" class="ophv">家族や職場に知られたり、業者の嫌がらせはないですか？</a></p>
                    <p><a href="#h4ttl05" class="ophv">亡くなった家族の過払い請求はできますか？</a></p>
                    <p><a href="#h4ttl06" class="ophv">依頼したいけどお金に余裕がありません。諦めるしかないのでしょうか？</a></p>
                  </div><!-- .txt_area02 -->
                </section>

                <section>
                  <h3 id="h3ttl02" class="h3ttl">当事務所に関するご質問</h3>
                  <div class="txt_area02">
                    <p><a href="#h4ttl07" class="ophv">電話やメールでの相談は可能ですか？</a></p>
                    <p><a href="#h4ttl08" class="ophv">相談できる時間は何時から何時までですか？</a></p>
                    <p><a href="#h4ttl09" class="ophv">法律相談の際に必要なものはありますか？</a></p>
                    <p><a href="#h4ttl10" class="ophv">法律相談したら、事件の依頼をしないといけないのでしょうか？</a></p>
                    <p><a href="#h4ttl11" class="ophv">依頼した際にかかる費用はどのくらいですか？</a></p>
                  </div><!-- .txt_area02 -->
                </section>
              </div><!-- #section01 -->
            </section>

            <section>
              <div id="section02" class="section">
                <h2 class="h2ttl">回答一覧</h2>
                <section>
                  <h3 class="h3ttl">借金問題に関するご質問</h3>
                  <section>
                    <div class="unit">
                      <h4 id="h4ttl01" class="h4ttl">借入明細がなく返済時期もあいまいですが請求できますか？</h4>
                      <p>契約書類や明細、カードがなくても業者名さえ分かればお調べすることができます。<br>過去の高い金利や完済した取引を含めて、過払い金請求が可能です。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl02" class="h4ttl">デパート等のクレジットカードも過払い金はありますか？</h4>
                      <p>信販会社のクレジットカードに付いている、「キャッシング」や「リボ」の取引も以前は金利が高かったこともあるので過払い金が発生している可能性があります。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl03" class="h4ttl">過去に自己破産・特定調停をしましたが過払い金はありますか？</h4>
                      <p>20％を超える金利での取引の場合は、過払い金が発生している可能性があります。<br>一度当事務所へ相談していただき、過払い金があるのか確認することをおすすめします。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl04" class="h4ttl">家族や職場に知られたり、業者の嫌がらせはないですか？</h4>
                      <p>20ご連絡先や郵送先に配慮して手続きを進めていきますので、ご家族や職場に知られることはありません。<br>また、ご依頼後は貸金業法により業者から電話や郵便物が届くことはありません。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl05" class="h4ttl">亡くなった家族の過払い請求はできますか？</h4>
                      <p>相続人の方であれば、亡くなられた方の過払い金も請求することが可能です。<br>一度当事務所へ相談していただき、過払い金があるのか確認することをおすすめします。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit last">
                      <h4 id="h4ttl06" class="h4ttl">依頼したいけどお金に余裕がありません。諦めるしかないのでしょうか？</h4>
                      <p>過払い請求の場合は、戻ってきた過払い金から清算することができます。<br>現在支払い中の方も業者の支払いを止めて無理のない金額で分割払いが可能ですので、諦める前にご相談ください。</p>
                    </div><!-- .unit -->
                  </section>
                </section>

                <section>
                  <h3 class="h3ttl">当事務所に関するご質問</h3>
                  <section>
                    <div class="unit">
                      <h4 id="h4ttl07" class="h4ttl">電話やメールでの相談は可能ですか？</h4>
                      <p>原則として当事務所にご来所いただき、面談によるご相談とさせていただいております。<br>お電話やメールにて概要をお聞きすることはございますが、お一人お一人の具体的な状況やお持ちの資料等を確認しながら対処法をご案内させていただくため、お電話だけやメールだけのご相談は受け付けておりません。<br>なお、事情により事務所にお越しいただけない場合はご相談ください。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl08" class="h4ttl">相談できる時間は何時から何時までですか？</h4>
                      <p>当事務所の営業時間は平日の10時～19時までとなっております。<br>土・日・祝日は定休日となっておりますが、ご要望がございましたら対応させていただきますのでお気軽にお問い合わせください。<br>なお、メールでのご相談予約は24時間受け付けております。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl09" class="h4ttl">法律相談の際に必要なものはありますか？</h4>
                      <p>ご相談内容に関係のありそうな書類や資料、経緯や状況を簡単にまとめたメモなどがあるとご相談をスムーズに進めることができます。<br>ご相談内容によりご用意いただくものが異なりますので、お問い合わせいただいた際にご案内させていただきます。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl10" class="h4ttl">法律相談したら、事件の依頼をしないといけないのでしょうか？</h4>
                      <p>そんなことはありません。ご相談だけでも構いませんので、お困りのことがございましたらまずはお気軽にご相談ください。法的アドバイスや対処法をご案内させていだきます。<br>当事務所がご提示する解決方法や費用等にご納得いただけましたら、正式にご依頼ください。</p>
                    </div><!-- .unit -->
                  </section>

                  <section>
                    <div class="unit">
                      <h4 id="h4ttl11" class="h4ttl">依頼した際にかかる費用はどのくらいですか？</h4>
                      <p>ご依頼いただく案件により費用は異なりますので、詳細はご相談時にご案内いたします。<br>着手金、弁護士費用、実費等、わかりやすくご説明させていただきますのでご安心ください。</p>
                    </div><!-- .unit -->
                  </section>
                </section>
              </div><!-- #section02 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
