jade/case/case01.jade
extends ../template/low_layout.jade
block meta
  - var page_title = '6年前に完済、6社から749万円の過払い金が戻ってきたケース'
  - var site_title = '土谷総合法律事務所'
  - var description = '解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。'
  - var keywords = '弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続'
  meta(name='description', content="#{page_title} - #{description}")
  meta(name='keywords', content="#{page_title},#{keywords}")
  meta(property="og:title", content="#{page_title} | #{site_title}")
  meta(property="og:description", content="#{page_title} - #{description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://tsuchiyalow.com/case/case01.html")
  //meta(property="og:image", content="")
  meta(property="og:site_name", content="土谷総合法律事務所")
block title
  title #{page_title} | #{site_title}

block low_mimg
  #low_mimg
    .inner
      p.page_ttl.right
        <img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="#{page_title}">
    <!-- .inner -->
  <!-- #low_mimg -->

block breadcrumb
  nav
    #breadcrumb
      .inner
        ol
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
          <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">#{page_title}</span></li>
      <!-- .inner -->
    <!-- #breadcrumb -->

block body
  .wrap#low
    .inner
      aside
        #sidebar.left
          .side_list
            p
              <img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="#{page_title}">
            ul.sl_inner
              li
                a(href="../case#h3ttl01") 借金問題に関する事例
              li
                a(href="../case#h3ttl02") 労働問題に関する事例
          <!-- .side_list -->

          include ../template/low_sidebar.jade
        <!-- #sidebar -->
      !='\n'

      main
        #case.main.right
          section
            #section01.section
              h2.h2ttl 事例紹介
              section
                h3#h3ttl01.h3ttl 6年前に完済、6社から749万円の過払い金が戻ってきたケース
                section
                  .sec_inner
                    h4.h4ttl ご依頼概要
                    .txt_area01
                      p ・Tさん（60代/男性）
                      p ・消費者金融合計：6社（完済）
                    <!-- txt_area03 -->

                    p Tさんは過去に消費者金融との取引が多くあり、6年前にご自身で一括で支払完済となりました。もう終わっているが「少しでも返金があればいいな」と思い、相談にいらっしゃいました。調査した結果、金利が年率20％を超える取引のため再計算後、多くの過払い金が発生していました。
                  <!-- .sec_inner -->
                !='\n'

                section
                  .sec_inner
                    h4.h4ttl 弁護士に依頼後
                    p 弁護士が介入することにより、
                      span.red.bold 6社で合計746万円の過払い金が返還されました。
                    table
                      tr
                        th 借入先
                        th 借入期間
                        th 借入額
                        th 債務整理後の金額
                      tr
                        td A社
                        td 12年
                        td 完済
                        td
                          span.bold 188万円
                          |の過払い金回収
                      tr
                        td B社
                        td 18年
                        td 完済
                        td
                          span.bold 400万円
                          |の過払い金回収
                      tr
                        td C社
                        td 13年
                        td 完済
                        td
                          span.bold 69万円
                          |の過払い金回収
                      tr
                        td D社
                        td 5年
                        td 完済
                        td
                          span.bold 15万円
                          |の過払い金回収
                      tr
                        td E社
                        td 11年
                        td 完済
                        td
                          span.bold 71万円
                          |の過払い金回収
                      tr
                        td F社
                        td 10年
                        td 完済
                        td
                          span.bold 6万円
                          |の過払い金回収
                    p.note ※F社は経営悪化のため過去に民事再生手続きを行ない、過払い金97万円の内6%ほどしか返還されませんでした。F社のように経営破綻してしまうと返還が少なくなってしまいますので、お早めの手続きをおすすめします。
                  <!-- .sec_inner -->
                !='\n'

                p.return.right
                  a.ophv(href="../case") 事例紹介一覧へもどる &gt;
            <!-- #section01 -->
          !='\n'

            .ct_bnr
              a(href="./contact")
                <img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら">
            <!-- .ct_bnr -->
        <!-- #main -->
    <!-- .inner -->
  <!-- #wrap -->

_html/case/case01.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=1200, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="6年前に完済、6社から749万円の過払い金が戻ってきたケース - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta name="keywords" content="6年前に完済、6社から749万円の過払い金が戻ってきたケース,弁護士,法律,相談,請求,借金,過払い金,残業代,労働問題,交通事故,遺産相続">
    <meta property="og:title" content="6年前に完済、6社から749万円の過払い金が戻ってきたケース | 土谷総合法律事務所">
    <meta property="og:description" content="6年前に完済、6社から749万円の過払い金が戻ってきたケース - 解雇・残業代請求等の労働問題、過払い金請求や遺産相続など幅広く対応できます。数多くの案件を経験し解決してきた当事務所に是非ご相談ください。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tsuchiyalow.com/case/case01.html">
    <!--meta(property="og:image", content="")-->
    <meta property="og:site_name" content="土谷総合法律事務所">
    <title>6年前に完済、6社から749万円の過払い金が戻ってきたケース | 土谷総合法律事務所</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/smoothScrollEx.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/opacity-rollover2.1.js"></script>
    <script type="text/javascript" src="../assets/js/rollover/rollover.js"></script>

    <!-- ロールオーバーの記述-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

  </head>
  <body>
    <header>
      <div id="header">
        <div class="inner">
          <h1>借金問題・労働問題・離婚問題でお悩みなら東京都千代田区の土谷総合法律事務所へ</h1>
          <p class="logo left"><a href="../"><img src="../assets/img/logo.gif" width="328" height="51" alt="土谷総合法律事務所"></a></p>
          <div class="unit right"><img src="../assets/img/tel.gif" width="248" height="48" alt="電話番号" class="left"><a href="../contact"><img src="../assets/img/rsvbtn_n.gif" width="230" height="52" class="right"></a></div><!-- .unit -->
        </div><!-- .inner -->
      </div><!-- #header -->

      <nav>
        <div id="gnav">
          <div class="inner">
            <ul>
              <li><a href="../"><img src="../assets/img/gnav01_n.png" width="142" height="70" alt="トップページ"></a></li>
              <li><a href="../service"><img src="../assets/img/gnav02_n.png" width="143" height="70" alt="業務のご案内"></a></li>
              <li><a href="../lawyer"><img src="../assets/img/gnav03_n.png" width="143" height="70" alt="弁護士紹介"></a></li>
              <li><a href="../flow"><img src="../assets/img/gnav04_n.png" width="143" height="70" alt="ご相談の流れ"></a></li>
              <li><a href="../case"><img src="../assets/img/gnav05_n.png" width="143" height="70"  alt="事例紹介"></a></li>
              <li><a href="../faq"><img src="../assets/img/gnav06_n.png" width="143" height="70" alt="よくあるご質問"></a></li>
              <li><a href="../office"><img src="../assets/img/gnav07_n.png" width="143" height="70" alt="事務所紹介"></a></li>
            </ul><!-- .inner -->
          </div>
        </div><!-- #gnav -->
      </nav>

      <div id="low_mimg">
        <div class="inner">
          <p class="page_ttl right"><img src="../assets/img/case/page_ttl.png" width="132" height="67" alt="6年前に完済、6社から749万円の過払い金が戻ってきたケース"></p>
        </div><!-- .inner -->
      </div><!-- #low_mimg -->
    </header>

    <nav>
      <div id="breadcrumb">
        <div class="inner">
          <ol>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../"><span itemprop="title">トップページ</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="../case"><span itemprop="title">事例紹介</span></a>&nbsp;&gt;&nbsp;</li>
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">6年前に完済、6社から749万円の過払い金が戻ってきたケース</span></li>
          </ol>
        </div><!-- .inner -->
      </div><!-- #breadcrumb -->
    </nav>

    <div id="low" class="wrap">
      <div class="inner">
        <aside>
          <div id="sidebar" class="left">
            <div class="side_list">
              <p><img src="../assets/img/case/slist_ttl.jpg" width="225" height="45" alt="6年前に完済、6社から749万円の過払い金が戻ってきたケース"></p>
              <ul class="sl_inner">
                <li><a href="../case#h3ttl01">借金問題に関する事例</a></li>
                <li><a href="../case#h3ttl02">労働問題に関する事例</a></li>
              </ul>
            </div><!-- .side_list -->
            <div class="side_ct"><a href="../contact"><img src="../assets/img/side_rsvbtn_n.gif" width="200" height="40"  alt="無料相談のご予約はこちら"></a></div><!-- side_ct -->

            <ul class="link_list">
              <li><a href="../service" class="ophv"><img src="../assets/img/side_srv.jpg" width="217" height="69" alt="業務のご案内"></a></li>
              <li><a href="../service/corporate-law.html#h302" class="ophv"><img src="../assets/img/side_adv.jpg" width="217" height="69" alt="顧問契約について"></a></li>
              <li><a href="../faq" class="ophv"><img src="../assets/img/side_faq.jpg" width="217" height="69" alt="よくあるご質問"></a></li>
              <li><a href="../case" class="ophv"><img src="../assets/img/side_case.jpg" width="217" height="69" alt="解決事例紹介"></a></li>
            </ul>

            <p class="fb"><a href="" class="ophv"><img src="../assets/img/side_fb.jpg" width="225" height="75" alt="facebookページ"></a></p>

            <dl class="side_off">
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5</dd>
              <dd>ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485</dd>
              <dd>FAX：03-6272-6433</dd>
              <dd class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2449722491547!2d139.75181286525918!3d35.695588830190935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c149731c13b%3A0x91fe2b3be040eef3!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yT5LiB55uuIOODi-ODpeODvOW-s-aghOODk-ODqw!5e0!3m2!1sja!2sjp!4v1472622144363" width="203" height="203" frameborder="0" style="border:0" allowfullscreen></iframe></dd>
              <dd><a href="../office">事務所概要はこちら &gt;</a></dd>
            </dl>
          </div><!-- #sidebar -->
        </aside>

        <main>
          <div id="case" class="main right">
            <section>
              <div id="section01" class="section">
                <h2 class="h2ttl">事例紹介</h2>
                <section>
                  <h3 id="h3ttl01" class="h3ttl">6年前に完済、6社から749万円の過払い金が戻ってきたケース</h3>
                  <section>
                    <div class="sec_inner">
                      <h4 class="h4ttl">ご依頼概要</h4>
                      <div class="txt_area01">
                        <p>・Tさん（60代/男性）</p>
                        <p>・消費者金融合計：6社（完済）</p>
                      </div><!-- txt_area03 -->
                      <p>Tさんは過去に消費者金融との取引が多くあり、6年前にご自身で一括で支払完済となりました。もう終わっているが「少しでも返金があればいいな」と思い、相談にいらっしゃいました。調査した結果、金利が年率20％を超える取引のため再計算後、多くの過払い金が発生していました。</p>
                    </div><!-- .sec_inner -->
                  </section>

                  <section>
                    <div class="sec_inner">
                      <h4 class="h4ttl">弁護士に依頼後</h4>
                      <p>弁護士が介入することにより、<span class="red bold">6社で合計746万円の過払い金が返還されました。</span></p>
                      <table>
                        <tr>
                          <th>借入先</th>
                          <th>借入期間</th>
                          <th>借入額</th>
                          <th>債務整理後の金額</th>
                        </tr>
                        <tr>
                          <td>A社</td>
                          <td>12年</td>
                          <td>完済</td>
                          <td><span class="bold">188万円</span>の過払い金回収</td>
                        </tr>
                        <tr>
                          <td>B社</td>
                          <td>18年</td>
                          <td>完済</td>
                          <td><span class="bold">400万円</span>の過払い金回収</td>
                        </tr>
                        <tr>
                          <td>C社</td>
                          <td>13年</td>
                          <td>完済</td>
                          <td><span class="bold">69万円</span>の過払い金回収</td>
                        </tr>
                        <tr>
                          <td>D社</td>
                          <td>5年</td>
                          <td>完済</td>
                          <td><span class="bold">15万円</span>の過払い金回収</td>
                        </tr>
                        <tr>
                          <td>E社</td>
                          <td>11年</td>
                          <td>完済</td>
                          <td><span class="bold">71万円</span>の過払い金回収</td>
                        </tr>
                        <tr>
                          <td>F社</td>
                          <td>10年</td>
                          <td>完済</td>
                          <td><span class="bold">6万円</span>の過払い金回収</td>
                        </tr>
                      </table>
                      <p class="note">※F社は経営悪化のため過去に民事再生手続きを行ない、過払い金97万円の内6%ほどしか返還されませんでした。F社のように経営破綻してしまうと返還が少なくなってしまいますので、お早めの手続きをおすすめします。</p>
                    </div><!-- .sec_inner -->
                  </section>

                  <p class="return right"><a href="../case" class="ophv">事例紹介一覧へもどる &gt;</a></p>
                </section>
              </div><!-- #section01 -->
            </section>

            <div class="ct_bnr"><a href="./contact"><img src="../assets/img/bnr_rsvbtn_n.gif" width="225" height="43" alt="無料相談のご予約はこちら"></a></div><!-- .ct_bnr -->
          </div><!-- #main -->
        </main>
      </div><!-- .inner -->
    </div><!-- #wrap -->

    <footer>
      <div id="footer">
        <div class="inner">
          <div class="unit01 left">
            <p class="flogo"><a href="../"><img src="../assets/img/flogo.png" width="282" height="45" alt="土谷総合法律事務所"></a></p>
            <dl>
              <dt>土谷総合法律事務所</dt>
              <dd>〒101-0051</dd>
              <dd>東京都千代田区神田神保町3-5　ニュー徳栄ビル4階</dd>
              <dd>TEL：03-6272-5485 / FAX：03-6272-6433</dd>
            </dl>
          </div><!-- .unit01 -->

          <div class="unit02 right">
            <nav>
              <div class="fnav_area left">
                <ul id="fnav01" class="left">
                  <li><a href="../service" class="first">業務のご案内</a>
                    <ul>
                      <li><a href="../service/debt.html">借金問題</a></li>
                      <li><a href="../service/work.html">労働問題</a></li>
                      <li><a href="../service/divorce.html">離婚問題</a></li>
                      <li><a href="../service/corporate-law.html">企業法務</a></li>
                      <li><a href="../service/general-law.html">一般法律</a></li>
                    </ul>
                  </li>
                </ul>

                <ul id="fnav02" class="left">
                  <li><a href="../">トップページ</a></li>
                  <li><a href="../flow">ご相談の流れ</a></li>
                  <li><a href="../case">事例紹介</a></li>
                  <li><a href="../service/corporate-law.html#h302">顧問契約について</a></li>
                  <li><a href="../faq">よくあるご質問</a></li>
                  <li><a href="../lawyer">弁護士紹介</a></li>
                </ul>

                <ul id="fnav03" class="left">
                  <li><a href="../office">事務所紹介</a></li>
                  <li><a href="../office#section02">アクセスマップ</a></li>
                  <li><a href="../info">お知らせ</a></li>
                  <li><a href="../contact">お問い合わせ</a></li>
                  <li><a href="../contact#section03">個人情報保護方針</a></li>
                </ul>
              </div><!-- .fnav_area -->

              <p class="to_top right"><a href="#header" class="ophv"><img src="../assets/img/to_top.gif" width="45" height="45" alt="トップへ戻る"></a></p>
            </nav>
          </div><!-- .unit02 -->

          <p class="copyright">Copyright © Tsuchiya General Law Office All Rights Reserved.</p>
        </div><!-- .inner -->
      </div><!-- #footer -->
    </footer>
  </body>
</html>
